-
  const taskGroups = [
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Знайти суми елементів у вказаній області (зафарбована область охоплює відповідну половину рядків і стовпців)"
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано інформацію про прибуток К магазинів протягом тижня. Знайти:"
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Морський бій. Випадковим чином на двовимірному полі розміром 6*6 розташовується 5 кораблів. Користувач стріляє вказуючи координати. Гра продовжується поки не потоплено усі кораблі або у користувача не закінчаться снаряди."
        },
      ]
    },
  ]
