@use "../abstracts" as *;

.l-compose {
  @include media-width-from("md") {
    display: grid;
    grid-template-columns: 14rem minmax(0, 1fr);
  }

  &__aside {
  }

  &__sidebar {
    position: fixed;
    inset-inline-start: 0;
    inset-block: $header-height 0;
    z-index: 100;
  }

  &__main {
  }
}
