@use "../abstracts" as *;

.card {
  // .card__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: get-spacing("200");
    block-size: 100%;
  }

  // .card__header

  &__header {
    display: grid;
    flex: auto;
    transition: color 0.3s;
  }

  // .card__image

  &__image {
    position: relative;
    order: -1;
    overflow: hidden;
    aspect-ratio: 21/9;
    border-radius: get-border-radius("2xl");
    transition: box-shadow 0.3s;

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &:focus-visible &__header {
    color: get-color("yellow", "500");

    @include dark-mode {
      color: get-color("yellow", "400");
    }
  }

  &:hover &__header {
    @media (any-hover) {
      color: get-color("yellow", "500");

      @include dark-mode {
        color: get-color("yellow", "400");
      }
    }
  }

  &:focus-visible &__image {
    box-shadow: 0 0 1rem 0.125rem get-color("yellow", "500");

    @include dark-mode {
      box-shadow: 0 0 0.5rem 0 get-color("yellow", "400");
    }
  }

  &:hover &__image {
    @media (any-hover) {
      box-shadow: 0 0 1rem 0.125rem get-color("yellow", "500");

      @include dark-mode {
        box-shadow: 0 0 0.5rem 0 get-color("yellow", "400");
      }
    }
  }
}

.header-card {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  line-height: get-line-height("tight");

  & > * + * {
    margin-block-start: get-spacing("100");
  }

  // .header-card__title

  &__title {
    flex: auto;
    font-weight: get-font-weight("bold");
    font-size: get-font-size("350");

    @include media-width-from("sm") {
      font-size: get-font-size("400");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("450");
    }
  }

  // .header-card__published

  &__published {
    color: get-color("gray", "500");
  }
}
