@use "../abstracts" as *;

.c-card-task {
  padding-inline: get-spacing("200");
  padding-block: get-spacing("200");
  border: 1px solid get-color("zinc", "700");
  border-radius: get-border-radius("lg");
  transition: border-color 0.3s;

  @include media-width-from("sm") {
    padding-inline: get-spacing("300");
    padding-block: get-spacing("300");
  }

  @include media-width-from("lg") {
    padding-inline: get-spacing("400");
    padding-block: get-spacing("400");
  }

  &:focus-visible {
    border-color: get-color("emerald", "500");

    @include dark-mode {
      border-color: get-color("yellow", "400");
    }
  }

  &:hover {
    @media (any-hover) {
      border-color: get-color("emerald", "500");

      @include dark-mode {
        border-color: get-color("yellow", "400");
      }
    }
  }

  // .c-card-task__inner

  &__inner {
    & > * + * {
      margin-block-start: get-spacing("200");
    }
  }

  // .c-card-task__title

  &__title {
    font-weight: get-font-weight("bold");
    font-size: get-font-size("300");
    line-height: get-line-height("none");
    transition: color 0.3s;

    @include media-width-from("sm") {
      font-size: get-font-size("350");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("400");
    }
  }

  &:focus-visible &__title {
    color: get-color("emerald", "500");

    @include dark-mode {
      color: get-color("yellow", "400");
    }
  }

  &:hover &__title {
    color: get-color("emerald", "500");

    @include dark-mode {
      color: get-color("yellow", "400");
    }
  }

  // .c-card-task__text

  &__text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
