@use "../abstracts" as *;

.c-cube {
  $c-cube-size: 2rem;

  position: relative;
  inline-size: $c-cube-size * 4;
  block-size: $c-cube-size * 3;

  &__inner {
    position: absolute;
    inset-inline-start: $c-cube-size * 2;
    inset-block-start: $c-cube-size;
    inline-size: $c-cube-size;
    block-size: $c-cube-size;
  }

  // .c-cube__side

  &__side {
    position: absolute;
    inline-size: $c-cube-size;
    aspect-ratio: 1;
    box-shadow: inset 0 0 get-spacing("50") get-color("neutral", "950");
    transition: transform 1s;

    // .c-cube__side--face

    &--face {
      // .c-cube__side--top

      &--top {
        inset-block-start: -$c-cube-size;
      }

      // .c-cube__side--bottom

      &--bottom {
        inset-block-end: -$c-cube-size;
      }

      // .c-cube__side--left

      &--left {
        inset-inline-start: -$c-cube-size;
      }

      // .c-cube__side--right

      &--right {
        inset-inline-end: -$c-cube-size;
      }

      // .c-cube__side--front

      &--front {
      }

      // .c-cube__side--back

      &--back {
        inset-inline-start: -2 * $c-cube-size;
      }
    }
  }

  &:hover &__inner {
    @media (any-hover) {
      transform-style: preserve-3d;
      animation: rotate 10s linear infinite both;

      @keyframes rotate {
        to {
          transform: rotateX(1turn) rotateY(1turn);
        }
      }
    }
  }

  &:hover &__side {
    @media (any-hover) {
      perspective: 1000px;

      &--face {
        // .c-cube__side--top

        &--top {
          transform: rotateX(90deg);
          transform-origin: bottom;
        }

        // .c-cube__side--bottom

        &--bottom {
          transform: rotateX(-90deg);
          transform-origin: top;
        }

        // .c-cube__side--left

        &--left {
          transform: rotateY(-90deg);
          transform-origin: right;
        }

        // .c-cube__side--right

        &--right {
          transform: rotateY(90deg);
          transform-origin: left;
        }

        // .c-cube__side--front

        &--front {
        }

        // .c-cube__side--back

        &--back {
          transform: translateX(100%) translateZ(-$c-cube-size) rotateY(-180deg);
          transform-origin: right;
        }
      }
    }
  }
}
