@use "../abstracts" as *;

.c-header {
  block-size: $header-height;
  padding-block: get-spacing("200");
  border-block-end: get-border-width("DEFAULT") solid get-color("stone", "400");
  background-color: get-color("stone", "200");

  @media (prefers-color-scheme: dark) {
    border-block-end: get-border-width("DEFAULT") solid get-color("zinc", "950");
    background-color: get-color("zinc", "800");
  }

  // .c-header__brand

  &__brand {
    display: flex;
    flex: none;
    gap: get-spacing("200");
    align-items: center;
    font-weight: bolder;
    transition: color 0.3s;

    &:focus-visible {
      color: get-color("emerald", "500");

      @include dark-mode {
        color: get-color("yellow", "400");
      }
    }

    &:hover {
      @media (any-hover) {
        color: get-color("emerald", "500");

        @include dark-mode {
          color: get-color("yellow", "400");
        }
      }
    }

    img,
    svg {
      object-fit: contain;
      inline-size: get-width("800");
      block-size: get-width("800");
    }
  }

  // .c-header__text

  &__text {
    @include media-width-to("xs") {
      display: none;
    }
  }
}
