@use "sass:map";
@use "../abstracts" as *;

.c-pill {
  display: inline-block;
  overflow: hidden;
  padding-inline: get-spacing("200");
  padding-block: get-spacing("100");
  border-radius: get-border-radius("lg");
  text-overflow: ellipsis;
  white-space: nowrap;
  transition-property: color, background-color;
  transition-duration: 0.3s;

  @include hover-focus {
    color: black;
    background-color: get-color("emerald", "500");

    @include dark-mode {
      background-color: get-color("yellow", "400");
    }
  }

  &--current {
    color: black;
    background-color: get-color("emerald", "400");

    @include dark-mode {
      background-color: get-color("yellow", "300");
    }
  }
}
