@use "sass:map";
@use "../abstracts" as *;

.c-sidebar {
  overflow: auto;
  inline-size: 14rem;
  padding: 1rem;
  background-color: get-color("zinc", "300");

  @media (prefers-color-scheme: dark) {
    background-color: get-color("zinc", "950");
  }

  @include media-width-to("md") {
    transform: translateX(-100%);
  }

  &__list {
  }

  &__item {
    display: grid;
  }
}
