@use "sass:map";
@use "../abstracts" as *;

.c-sidebar {
  overflow: auto;
  inline-size: min(100%, 14rem);
  padding: 1rem;
  background-color: get-color("neutral", "300");
  transition-property: visibility, transform;
  transition-duration: 0.5s;

  @media (prefers-color-scheme: dark) {
    background-color: get-color("zinc", "800");
  }

  &:not(.is-expanded) {
    @include media-width-to("md") {
      visibility: hidden;
      transform: translateX(-100%);
    }
  }

  &__list {
  }

  &__item {
    display: grid;
  }
}
