@use "sass:map";
@use "../abstracts" as *;

.c-sidebar {
  overflow: auto;
  inline-size: min(100%, 14rem);
  padding: 1rem;
  border-inline-end: get-border-width("DEFAULT") solid
    get-color("neutral", "300");
  background-color: get-color("neutral", "100");
  transition-property: visibility, transform;
  transition-duration: 0.5s;

  @include dark-mode {
    border-inline-end: get-border-width("DEFAULT") solid
      get-color("zinc", "950");
    background-color: get-color("zinc", "800");
  }

  &:not(.is-expanded) {
    @include media-width-to("md") {
      visibility: hidden;
      transform: translateX(-100%);
    }
  }

  &__list {
  }

  &__item {
    display: grid;
  }
}
