@use "../abstracts" as *;

.c-spinner {
  inline-size: 4em;
  aspect-ratio: 1;
  border: 0.375em solid;
  border-inline-start-color: transparent;
  border-radius: 50%;
  animation: spin 1.25s linear infinite;

  &__hint {
    @extend %visually-hidden;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
