@use "../abstracts" as *;

/* From Uiverse.io by cuzpq */
.c-toggle {
  --toggle-size: 8px;

  appearance: none;
  position: relative;
  display: block;
  inline-size: 6.25em;
  block-size: 3.125em;
  border-radius: 99em;
  font-size: var(--toggle-size);
  background: linear-gradient(
      to right,
      get-color("neutral", "300") 50%,
      get-color("zinc", "900") 50%
    )
    no-repeat;
  background-position: 0;
  background-size: 205%;
  box-shadow:
    inset 0 4px 10px hsl(0deg 0% 0% / 7%),
    inset 0 0 1px hsl(0deg 0% 0% / 21%);
  cursor: pointer;
}

.c-toggle::before {
  content: "";
  position: absolute;
  inset-inline-start: 0.438em;
  inset-block-start: 0.438em;
  inline-size: 2.25em;
  block-size: 2.25em;
  border-radius: 50%;
  background: get-color("white");
  background-position: 100%;
  background-size: 205%;
  box-shadow: 0 1px 2px hsl(0deg 0% 0% / 15%);
}

.c-toggle:checked::before {
  inset-inline-start: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.c-toggle:checked {
  background-position: 100%;
}
