-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано масив імен спортсменів. Розробити програму для виведення усіх можливих результатів змагань (списки імен у відповідності до місць, які вони займуть)."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Виведіть всі можливі наступні комбінації ходів користувачів у грі “Хрестики-нулики”, починаючи з деякої заданої ситуації (тобто маємо двовимірний масив з елементами : 0 - нулик, Х - хрестик, пробіл - ще не зайнято, і вам треба самостійно вивести всі можливі шляхи заповнення ще незаповнених клітинок (де пробіли). Поки можна не підраховувати чи вже є 3 хрестики чи 3 нулики у рядок."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано масив хлопців і дівчат вивести всі можливі комбінації для танців з хлопців і дівчат."
        },
      ]
    },
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Генерація всіх підмножин: Реалізуйте рекурсивну функцію, яка генерує всі можливі підмножини заданого масиву. Наприклад, для масиву [1, 2, 3] можливі підмножини: [], [1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано масив імен спортсменів. Розробити програму для виведення усіх можливих результатів змагань (списки імен у відповідності до місць, які вони займуть)."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Виведіть всі можливі наступні комбінації ходів користувачів у грі “Хрестики-нулики”, починаючи з деякої заданої ситуації (тобто маємо двовимірний масив з елементами : 0 - нулик, Х - хрестик, пробіл - ще не зайнято, і вам треба самостійно вивести всі можливі шляхи заповнення ще незаповнених клітинок (де пробіли). Поки можна не підраховувати чи вже є 3 хрестики чи 3 нулики у рядок."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано масив хлопців і дівчат вивести всі можливі комбінації для танців з хлопців і дівчат."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "З використанням замикань розробити ітератор, тобто функцію, що буде поступово за окремими викликами видавати по одне значення від заданого мінімального до заданого максимального. Якщо значення досягне максимального, то наступним буде мінімальне значення. З використанням цієї функції реалізувати перебір номерів місяців."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "З використанням замикань розробити ітератор, тобто функцію, що буде поступово за окремими викликами видавати по одну букву наперед заданого слова. З використанням нього розробити гру «Перекладач». Виводимо для користувача опис цього слова і по одну букву користувач вводить переклад цього слова. Підрахувати кількість вгаданих букв."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Тренажер додавання. Кожні 10 секунд користувачу задають випадковий приклад з додавання двох цифр і робиться перевірка."
        },
        {
          title: 'Задача №8',
          id: 8,
          href: 'task_08.html',
          description: "При старті питаємо у користувача чи хоче він читати новини. Якщо так, то одразу переходимо до сайту Ukr.Net, якщо ні, то через 20 секунд самі переходимо на сайт ukr.net. Для цього через 20 секунд після відкриття треба виконати команду:"
        },
      ]
    },
  ]
