extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 4)

block append scripts
  script(defer, src="./scripts/task_04.js")

block content
  ol(start="6")
    li Дано рядок тексту, вивести усі числа, які є у тексті.
    li Дано рядок тексту. Знайти усі знаки пунктуації, які були використано.
    li Дано рядок тексту. Вивести усі складові, які розділені розділовими знаками.
    li Дано рядок тексту. Перевірити, чи містить він дату у форматі dd.mm.yyyy (dd- день, mm- місяць, yyyy- рік).
    li Дано рядок тексту. Підрахувати кількість двоцифрових чисел у рядку.
    li Визначити чи може бути рядок тексту номером банківської картки (приклад: «4142-3433-2323-3434»). Знайти усі такі номери.
    li Дано адресу сайту. Визначити, чи є він урядовим (містить домен “gov”).
    li Вибрати усі роки після 2021 року з отриманого повідомлення.
    li Дано номер телефону. Перевірити, чи є цей телефон телефоном з України (починається на «+38»).
    li Користувач вводить прізвище та ім’я в одному рядку через пробіл. Замінити пробіл на дефіс.
    li Користувач вводить дату у форматі «день.місяць.рік». Отримати рядкове представлення дати у форматі «день/місяць/рік».
    li Користувач вводить день (номер дня (0-6) або «sun,mon,tue,wed,thu,fri,sat»). Визначити, чи є цей день вихідним.
  hr
  h2 Рішення:

block breakaway
  .l-container.l-container--prose
    .js-app.u-flex.u-flex-wrap.u-gap-400

  .s-prose
    include:code(lang="javascript") ./scripts/task_04.js
