-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Задача №0',
          id: 0,
          href: 'task_00.html',
          description: "Дано історію цін на цінні папери за деякий період (згенерувати від 1 до 10000)"
        },
      ]
    },
    {
      title: "Заповнення масиву",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Заповнити масив нулями, крім першого й останнього елементів, котрі мають дорівнювати одиниці."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Заповнити масив нулями та одиницями, при цьому дані значення чергуються, починаючи з нуля."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Заповнити масив послідовними непарними числами, починаючи з одиниці."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Сформувати масив з елементів арифметичної прогресії зі заданим першим елементом x і різницею d."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Сформувати масив із парних чисел, що росте."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Сформувати спадний масив із чисел, що діляться на 3."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Створити масив із n перших чисел Фібоначчі."
        },
        {
          title: 'Задача №8',
          id: 8,
          href: 'task_08.html',
          description: "Заповнити масив заданої довжини різними простими числами. Натуральне число, більше за одиницю, називається простим, якщо воно ділиться тільки на себе та на одиницю."
        },
        {
          title: 'Задача №9',
          id: 9,
          href: 'task_09.html',
          description: "Створити масив, кожен елемент якого дорівнює квадрату свого номера."
        },
        {
          title: 'Задача №10',
          id: 10,
          href: 'task_10.html',
          description: "Створити масив, на парних місцях у якому стоять одиниці, а на непарних місцях - числа, що дорівнюють залишку від ділення свого номера на 5."
        },
        {
          title: 'Задача №11',
          id: 11,
          href: 'task_11.html',
          description: "Створити масив, що складається з трійок однакових елементів, які йдуть підряд."
        },
        {
          title: 'Задача №12',
          id: 12,
          href: 'task_12.html',
          description: "Створити масив, який однаково читається як зліва направо, так і справа наліво."
        },
        {
          title: 'Задача №13',
          id: 13,
          href: 'task_13.html',
          description: "Сформувати масив із випадкових чисел, у якому рівно дві одиниці стоять на випадкових позиціях."
        },
        {
          title: 'Задача №14',
          id: 14,
          href: 'task_14.html',
          description: "Заповніть масив випадковим чином нулями та одиницями так, щоб кількість одиниць була більшою за кількість нулів."
        },
        //- {
        //-   title: 'Задача №15',
        //-   id: 15,
        //-   href: 'task_15.html',
        //-   description: "Сформувати масив із випадкових цілих чисел від 0 до 9 , у якому одиниць від 3 до 5 і двійок більше за трійки."
        //- },
        {
          title: 'Задача №16',
          id: 16,
          href: 'task_16.html',
          description: "Створіть масив, у якому кількість від'ємних чисел дорівнює кількості додатних і додатні числа розташовані на випадкових місцях у масиві."
        },
        //- {
        //-   title: 'Задача №17',
        //-   id: 17,
        //-   href: 'task_17.html',
        //-   description: "Заповніть масив випадковим чином нулями, одиницями і двійками так, щоб перша двійка в масиві траплялася раніше за першу одиницю, кількість одиниць дорівнювала сумарній кількості нулів і двійок."
        //- },
        {
          title: 'Задача №18',
          id: 18,
          href: 'task_18.html',
          description: "Придумайте правило генерації масиву заданої довжини. Визначте, згенеровано цей масив вашим правилом чи ні."
        },
      ]
    },
    {
      title: "Аналіз елементів масиву",
      tasks: [
        {
          title: 'Задача №19',
          id: 19,
          href: 'task_19.html',
          description: "Визначити, чи містить масив дане число x",
        },
        {
          title: 'Задача №20',
          id: 20,
          href: 'task_20.html',
          description: "Знайти кількість парних чисел у масиві.",
        },
        {
          title: 'Задача №21',
          id: 21,
          href: 'task_21.html',
          description: "Знайти кількість чисел у масиві, які діляться на 3, але не діляться на 7.",
        },
        {
          title: 'Задача №22',
          id: 22,
          href: 'task_22.html',
          description: "Визначте, яких чисел у масиві більше: тих, що діляться на перший елемент масиву, чи тих, що діляться на останній елемент масиву.",
        },
        {
          title: 'Задача №23',
          id: 23,
          href: 'task_23.html',
          description: "Знайдіть суму та добуток елементів масиву.",
        },
        {
          title: 'Задача №24',
          id: 24,
          href: 'task_24.html',
          description: "Знайдіть суму парних чисел масиву.",
        },
        {
          title: 'Задача №25',
          id: 25,
          href: 'task_25.html',
          description: "Знайдіть суму непарних чисел масиву, які не перевершують 11.",
        },
        {
          title: 'Задача №26',
          id: 26,
          href: 'task_26.html',
          description: "Знайдіть суму чисел масиву, які розташовані до першого парного числа масиву. Якщо парних чисел у масиві немає, то знайти суму всіх чисел, за винятком крайніх.",
        },
        {
          title: 'Задача №27',
          id: 27,
          href: 'task_27.html',
          description: "Знайдіть суму чисел масиву, які стоять на парних місцях.",
        },
        {
          title: 'Задача №28',
          id: 28,
          href: 'task_28.html',
          description: "Знайдіть суму чисел масиву, які стоять на непарних місцях і при цьому перевершують суму крайніх елементів масиву.",
        },
        {
          title: 'Задача №29',
          id: 29,
          href: 'task_29.html',
          description: "Дано масив x із n елементів. Знайдіть x1-x2+x3-...-xn-1+xn.",
        },
        {
          title: 'Задача №30',
          id: 30,
          href: 'task_30.html',
          description: "Дано масив x із n елементів. Знайдіть x1xn+x2xn-1+...+xnx1.",
        },
        {
          title: 'Задача №31',
          id: 31,
          href: 'task_31.html',
          description: "Дано масив x із n елементів. Знайдіть xn(xn+xn-1)(xn+xn-1+xn-2)...(xn+...+x1).",
        },
        {
          title: 'Задача №32',
          id: 32,
          href: 'task_32.html',
          description: "Знайти найбільший елемент масиву.",
        },
        {
          title: 'Задача №33',
          id: 33,
          href: 'task_33.html',
          description: "Знайдіть суму найбільшого та найменшого елементів масиву.",
        },
        {
          title: 'Задача №34',
          id: 34,
          href: 'task_34.html',
          description: "Знайдіть кількість елементів масиву, які відмінні від найбільшого елемента не більше ніж на 10%.",
        },
        {
          title: 'Задача №35',
          id: 35,
          href: 'task_35.html',
          description: "Знайдіть найменший парний елемент масиву.",
        },
        {
          title: 'Задача №36',
          id: 36,
          href: 'task_36.html',
          description: "Серед елементів з непарними номерами знайдіть найбільший елемент масиву, що ділиться на 3.",
        },
        {
          title: 'Задача №37',
          id: 37,
          href: 'task_37.html',
          description: "Дано масив і число p. Знайдіть два різні числа в масиві, сума яких найближча до p.",
        },
        {
          title: 'Задача №38',
          id: 38,
          href: 'task_38.html',
          description: "Дано масив. Знайдіть два сусідні елементи, сума яких мінімальна.",
        },
        {
          title: 'Задача №39',
          id: 39,
          href: 'task_39.html',
          description: "Дано масив. Знайдіть три послідовні елементи в масиві, сума яких максимальна.",
        },
        {
          title: 'Задача №40',
          id: 40,
          href: 'task_40.html',
          description: "У даному масиві знайдіть кількість чисел, сусіди в яких відрізняються більш ніж у 2 рази.",
        },
        {
          title: 'Задача №41',
          id: 41,
          href: 'task_41.html',
          description: "Знайдіть кількість чисел, кожне з яких дорівнює сумі квадратів своїх сусідів і при цьому не є найбільшим у масиві.",
        },
        {
          title: 'Задача №42',
          id: 42,
          href: 'task_42.html',
          description: "Перевірте, чи містить даний масив з n чисел, усі числа від 1 до n.",
        },
        {
          title: 'Задача №43',
          id: 43,
          href: 'task_43.html',
          description: "Перевірте, чи утворює елементи масиву в даному порядку арифметичну або геометричну прогресії.",
        },
        {
          title: 'Задача №44',
          id: 44,
          href: 'task_44.html',
          description: "Перевірте, чи даний масив зростальний або спадний.",
        },
        {
          title: 'Задача №45',
          id: 45,
          href: 'task_45.html',
          description: "Знайдіть кількість різних елементів даного масиву.",
        },
        {
          title: 'Задача №46',
          id: 46,
          href: 'task_46.html',
          description: "Визначте кількість змін знаків елементів масиву.",
        },
        {
          title: 'Задача №47',
          id: 47,
          href: 'task_47.html',
          description: "У даному масиві знайти максимальну кількість однакових елементів.",
        },
        {
          title: 'Задача №48',
          id: 48,
          href: 'task_48.html',
          description: "Знайти елемент, що найчастіше зустрічається в масиві цілих чисел.",
        },
        {
          title: 'Задача №49',
          id: 49,
          href: 'task_49.html',
          description: "В одновимірному масиві, що складається з n дійсних елементів, обчисліть номер мінімального елемента масиву та суму елементів масиву, розташованих між першим і другим від'ємними елементами.",
        },
        {
          title: 'Задача №50',
          id: 50,
          href: 'task_50.html',
          description: "Напишіть програму, яка вводить із клавіатури непорожній масив цілих чисел і виводить число локальних максимумів (елемент є локальним максимумом, якщо він не має сусідів, більших за нього самого).",
        },
        {
          title: 'Задача №51',
          id: 51,
          href: 'task_51.html',
          description: "У цьому масиві знайдіть два найменші елементи.",
        },
        {
          title: 'Задача №52',
          id: 52,
          href: 'task_52.html',
          description: "Визначте, чи є в масиві елементи, що повторюються.",
        },
        {
          title: 'Задача №53',
          id: 53,
          href: 'task_53.html',
          description: "У цьому масиві знайдіть найбільшу серію елементів, що йдуть підряд, розташованих за зростанням.",
        },
        {
          title: 'Задача №54',
          id: 54,
          href: 'task_54.html',
          description: "У масиві знайдіть кількість серій із четвірок поспіль різних елементів, що йдуть попарно.",
        },
        {
          title: 'Задача №55',
          id: 55,
          href: 'task_55.html',
          description: "Визначте, чи можна викреслити з даного масиву одне число так, щоб числа, що залишилися, виявилися впорядкованими за зростанням.",
        },
      ]
    }
  ]
