extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 07)


block content
  p Вивести на екран N абзаців (N вводиться користувачем) за зразком:
  img(src="./images/task_07.jpg", alt="")
  hr
  h2 Рішення:
  script(src="./scripts/task_07.js")
