extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task=>task.number === 06)

block content
  p Вивести 3 таблиці (по 3 рядки і 3 стовпці у кожній) за зразком
  hr
  h2 Рішення:
  script(src="./scripts/task_06.js")
