extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 09)


block content
  p Користувач загадує число. Комп'ютер задає питання поки не вгадає число користувача (використати confirm).
  hr
  h2 Рішення:
  script(src="./scripts/task_09.js")
