extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 03)


block content
  p Вивести таблицю з одним рядком і 7 стовпцями.
  hr
  h2 Рішення:
  script(src="./scripts/task_03.js")
