extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 11),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 11)


block content
  p Знайти суму 5 непарних чисел, що знаходяться між заданими користувачем числами.
  hr
  h2 Рішення:
  script(src="./scripts/task_11.js")
