extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 05),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 05)


block content
  p Вивести таблицю
  hr
  h2 Рішення:
  script(src="./scripts/task_05.js")
