extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task=>task.number === 04)

block content
  p Вивести таблицю з 3 рядків і 7 стовпців
  hr
  h2 Рішення:
  script(src="./scripts/task_04.js")
