extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 15),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 15)


block content
  p Користувач поступово вводить показники температури протягом року. Знайти середню температуру.
  hr
  h2 Рішення:
  script(src="./scripts/task_15.js")
