extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === -1),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === -1)


block content
  p Вивести на екран номери місяців весни і літа (від 3 до 8)
  hr
  h2 Рішення:
  script(src="./scripts/task_-01.js")
