-
  const taskGroups = [
    {
      title: "Symbol, ітератори, генератори",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Дано клас PhoneNumber. Створити функцію перетворення до string, при якому на основі номера виводиться оператор (050… - Vodafone, 077 - Kyivstar, …)."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано Shop – клас, що містить список товарів (масив об\'єктів класу Product (назва, ціна, кількість одиниць)). Додати можливість ітератора до класу Shop, щоб при ітеруванні для кожного елемента виводився рядок «товар-загальна вартість»."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Створити генератор, який би випадковим чином поступово генерував вказану кількість парних чисел."
        },
      ],
    },
    {
      title: "Map та Set",
      tasks: [
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано список URL адрес. Підрахувати кількість адрес, що відносяться до кожного із доменів (edu, com, org, ...)."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано масив книг (назва, рік видання, автор, ціна). Підрахувати загальну вартість книг для кожного із авторів."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Дано інформацію про відвідувачів деякого сайту (для кожного відвідувача зберігається логін). Підрахувати для кожного клієнта кількість відвідувань."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Дано масив студентів (піб, курс, факультет). Підрахувати кількість різних факультетів, та кількість студентів кожного з курсів. "
        },
        {
          title: 'Задача №8',
          id: 8,
          href: 'task_08.html',
          description: "Дано масив показів температур. Підрахувати кількість входжень кожного із показів."
        },
        {
          title: 'Задача №9',
          id: 9,
          href: 'task_09.html',
          description: "Дано два списки прізвищ студентів, що відвідують гуртки з математики та історії. Підрахувати скільки студентів з гуртка історії також відвідують гурток математики. Також підрахувати скільки всього студентів відвідують хоча б один гурток."
        },
      ]
    },
  ]
