-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано масив, який зберігає кількість відвідувачів магазину протягом тижня. Вивести на екран:"
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано послідовність номерів автомобілів. Підрахувати кількість номерів, які :"
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано послідовність оцінок учня. Підрахувати кількість:"
        },
        {
          title: 'Задача №8',
          id: 8,
          href: 'task_08.html',
          description: "Дано одновимірний масив, у якому зберігається певна виграшна сума (елементи заповнюються випадковим чином значеннями від -500 до 500). Надаючи користувачу можливість вибирати номери елементів  (поки він не відмовиться). Знаходити сумарний виграш."
        },
        {
          title: 'Задача №9',
          id: 9,
          href: 'task_09.html',
          description: "Морський бій. Користувач вводить кількість клітинок одновимірного масиву та кількість одиничних кораблів. Комп'ютер довільно розміщує ці одиничні кораблі у масиві по один у клітинці (якщо у клітинці 0, то клітинка пуста, якщо 1 – то це означає, що там є корабель. Користувач вводить номер клітинки, куди стріляє. Гра продовжується до тих пір, поки не будуть потоплені усі кораблі."
        },
      ],
    },
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Дано масив, який містить оцінки з К предметів. Знайти середній бал і з'ясувати до якої категорії він відноситься (відмінник, двієчник (має хоча би одну двійку), четвірочник (оцінки добре і відмінно), трієчник (є хоча би одна трійка))."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано масив, який зберігає кількість відвідувачів магазину протягом тижня. Вивести на екран:"
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Дано масив імен учнів. З'ясувати скільки разів зустрічається ім’я «Іван»."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано послідовність номерів автомобілів. Підрахувати кількість номерів, які :"
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано послідовність оцінок учня. Підрахувати кількість:"
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Дано послідовність цін товарів та назв (у окремих масивах). Вивести на екран ті, які може собі дозволити користувач (кількість грошей задається)."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Дано послідовність платіжок протягом року. Знайти сумарну кількість грошей за:"
        },
        {
          title: 'Задача №8',
          id: 8,
          href: 'task_08.html',
          description: "Дано одновимірний масив, у якому зберігається певна виграшна сума (елементи заповнюються випадковим чином значеннями від -500 до 500). Надаючи користувачу можливість вибирати номери елементів  (поки він не відмовиться). Знаходити сумарний виграш."
        },
        {
          title: 'Задача №9',
          id: 9,
          href: 'task_09.html',
          description: "Морський бій. Користувач вводить кількість клітинок одновимірного масиву та кількість одиничних кораблів. Комп'ютер довільно розміщує ці одиничні кораблі у масиві по один у клітинці (якщо у клітинці 0, то клітинка пуста, якщо 1 – то це означає, що там є корабель. Користувач вводить номер клітинки, куди стріляє. Гра продовжується до тих пір, поки не будуть потоплені усі кораблі."
        },
      ]
    },
  ]
