-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Завдання №1',
          id: 16,
          href: 'task_16.html',
          description: "З клавіатури вводяться числа до тих пір, поки послідовність є зростаючою або спадною.",
        },    
        {
          title: 'Завдання №2',
          id: 17,
          href: 'task_17.html',
          description: "Знайти суму цифр числа, що знаходяться між першою цифрою 7 і останньою цифрою 7 (у числі є всього дві цифри 7, наприклад: 2679328712)",
        },        
      ]
    },
    {
      title: "Сторінка №1",
      tasks: [
        {
          title: 'Завдання №0',
          id: 0,
          href: 'task_00.html',
          description: "Вивести на екран",
        },
        {
          title: 'Завдання №1',
          id: 1,
          href: 'task_01.html',
          description: "Використовуючи цикли вивести на екран 20 символів «о».",
        },
        {
          title: 'Завдання №2',
          id: 2,
          href: 'task_02.html',
          description: "Відобразити трикутник за допомогою символів «о»",
        },
        {
          title: 'Завдання №2.1',
          id: 3,
          href: 'task_03.html',
          description: "Відобразити трикутник за допомогою символів «о»",
        },
        {
          title: 'Завдання №3',
          id: 4,
          href: 'task_04.html',
          description: "Відобразити трикутник за допомогою символів «о»",
        },
        {
          title: 'Завдання №3.1',
          id: 5,
          href: 'task_05.html',
          description: "Відобразити трикутник за допомогою символів «о»",
        },
        {
          title: 'Завдання №4',
          id: 6,
          href: 'task_06.html',
          description: "Побудувати ялинку",
        },
      ]
    },
    {
      title: "Сторінка №2",
      tasks: [
        {
          title: 'Завдання №5',
          id: 7,
          href: 'task_07.html',
          description: "Інвестор вклав <em>S</em> тис. грн на 20 років під 20% річних. Визначити за допомогою циклів суму, яку він одержить (без оподаткування).",
        },
        {
          title: 'Завдання №6',
          id: 8,
          href: 'task_08.html',
          description: "Інвестор вклав <em>S</em> тис. грн на 20 років під 20% річних, податок складає 5% від суми прибутку. Визначити за допомогою циклів суму, яку він одержить.",
        },
        {
          title: 'Завдання №7',
          id: 9,
          href: 'task_09.html',
          description: "Інвестор вклав <em>S</em> тис. грн на 20 років під 20% річних, а потім на 17 років під 27% річних. Визначити за допомогою циклів суму, яку він одержить.",
        },
        {
          title: 'Завдання №8',
          id: 10,
          href: 'task_10.html',
          description: "Вивести на екран послідовність символів. Всього символів 82.",
        },
        {
          title: 'Завдання №9',
          id: 11,
          href: 'task_11.html',
          description: "Вивести на екран",
        },
        {
          title: 'Завдання №10',
          id: 12,
          href: 'task_12.html',
          description: "Вивести на екран",
        },
        {
          title: 'Завдання №11',
          id: 13,
          href: 'task_13.html',
          description: "Вивести на екран усі двоцифрові числа, у яких перша цифра є більшою або рівною за другу.",
        },
        {
          title: 'Завдання №11.1',
          id: 14,
          href: 'task_14.html',
          description: "Вивести на екран усі трицифрові числа, у яких перша цифра є більшою або рівною за суму другої і третьої.",
        },
        {
          title: 'Завдання №12',
          id: 15,
          href: 'task_15.html',
          description: "Написати програму виведення на екран кожного символу латинського алфавіту та поруч з кожним з них символу, що передує йому та що слідує за ним.",
        },      
      ]
    },
    {
      title: "Сторінка №3 (інші)",
      tasks: [
        {
          title: 'Завдання №1',
          id: 16,
          href: 'task_16.html',
          description: "З клавіатури вводяться числа до тих пір, поки послідовність є зростаючою або спадною.",
        },      
        {
          title: 'Завдання №2',
          id: 17,
          href: 'task_17.html',
          description: "Знайти суму цифр числа, що знаходяться між першою цифрою 7 і останньою цифрою 7 (у числі є всього дві цифри 7, наприклад: 2679328712)",
        },      
        {
          title: 'Завдання №3',
          id: 18,
          href: 'task_18.html',
          description: "Дано ціле число N. Вивести ті натуральні числа, квадрати яких є меншими або рівними за N.",
        },      
        {
          title: 'Завдання №4',
          id: 19,
          href: 'task_19.html',
          description: "Знайти суму всіх непарних чисел з діапазону, який вводить користувач з клавіатури.",
        },      
        {
          title: 'Завдання №5',
          id: 20,
          href: 'task_20.html',
          description: "Зобразити рівнобедрений трикутник із символів ^. Висоту задає користувач. Наприклад, на екрані висота =5.",
        },      
        {
          title: 'Завдання №6',
          id: 21,
          href: 'task_21.html',
          description: "На складі зберігається певна кількість ящиків з яблуками (наприклад, 15). Коли під’їде машина для завантаження, попросити користувача ввести, скільки ящиків завантажити у першу машину, у другу і т. д., поки на складі не закінчаться ящики з яблуками. Передбачити той випадок, коли користувач вводить кількість, що перевищує поточну кількість ящиків на складі.",
        },      
        {
          title: 'Завдання №7',
          id: 22,
          href: 'task_22.html',
          description: "Написати програму, яка показуватиме на екрані піднесене до квадрату число, що вводиться користувачем. Користувач вирішує самостійно – виходити з програми або продовжувати ввід. (Підказка: потрібно запустити нескінчений цикл, в тілі якого передбачити його переривання у випадку настання певної умови).",
        },      
        {
          title: 'Завдання №8',
          id: 23,
          href: 'task_23.html',
          description: "Щоденно спортзал відвідує певна кількість людей. Користувач вводить такі дані: скільки людей відвідало спортзал за день та вік кожного відвідувача. Потрібно вивести вік найстаршого та наймолодшого відвідувачів, а також середній вік всіх відвідувачів спортзалу за день.",
        },      
        {
          title: 'Завдання №9',
          id: 24,
          href: 'task_24.html',
          description: "Комерсант, володіючи стартовим капіталом N грн, зайнявся торгівлею, що збільшує його капітал щомісячно на р%. Через скільки років він накопичить суму S, достатню для того, щоб придбати власний магазин?",
        },
        {
          title: 'Завдання №10',
          id: 25,
          href: 'task_25.html',
          description: "Для заданого натурального числа n знайти найменше число k, яке задовольняє нерівність k!>=n.",
        },
        {
          title: 'Завдання №11',
          id: 26,
          href: 'task_26.html',
          description: "Написати програму, що виводить на екран таблицю множення на k (k вводиться з клавіатури).",
        },
        {
          title: 'Завдання №12',
          id: 27,
          href: 'task_27.html',
          description: "Знайти найбільший спільний дільник n натуральних чисел",
        },
        {
          title: 'Завдання №13',
          id: 28,
          href: 'task_28.html',
          description: "У закладі освіти повідомляється про початок навчального дня, тривалість уроку, кількість уроків. Отримати розклад дзвінків на весь навчальний день.",
        },
        {
          title: 'Завдання №14',
          id: 29,
          href: 'task_29.html',
          description: "Визначити, чи є натуральне число N степенем числа 3 чи ні.",
        },
      ]
    },
    {
      title: 'Сторінка №4 (інші)',
      tasks: [
        {
          title: 'Завдання №15',
          id: 30,
          href: 'task_30.html',
          description: "Отримати всі можливі способи розміщення п’яти книг різних авторів.",
        },
        {
          title: 'Завдання №17',
          id: 31,
          href: 'task_31.html',
          description: "Чи можливо задане натуральне число подати як суму квадратів двох чисел.",
        },
        {
          title: 'Завдання №18',
          id: 32,
          href: 'task_32.html',
          description: "Є n бактерій червоного кольору. Через 1 одиницю часу червона бактерія змінюється на зелену, потім ще через 1 одиницю часу ділиться на червону та зелену. Скільки буде всіх бактерій через k одиниць часу?",
        },
        {
          title: 'Завдання №19',
          id: 33,
          href: 'task_33.html',
          description: "Натуральне число з n цифр є числом Армстронга, якщо сума степенів цифр, кожна з яких піднесена до n, дорівнює самому числу (153=1*1*1+5*5*5+3*3*3). Отримати всі числа Армстронга для n=4 и n=3.",
        },
        {
          title: 'Завдання №20',
          id: 34,
          href: 'task_34.html',
          description: "З клавіатури вводяться n чисел та саме значення n. Написати програму, яка підраховує кількість від’ємних, додатних та нульових чисел серед введених. ",
        },
        {
          title: 'Завдання №21',
          id: 35,
          href: 'task_35.html',
          description: `Напишіть програму для переводу мір довжини, торгової та аптекарської ваги (лічильник циклу від 1 до 10)`,
        },
        {
          title: 'Завдання №22',
          id: 36,
          href: 'task_36.html',
          description: "Введіть з клавіатури 10 пар чисел. Порівняйте числа у кожній парі та надрукуйте більше з них.",
        },
        {
          title: 'Завдання №23',
          id: 37,
          href: 'task_37.html',
          description: "Дано натуральні числа від 20 до 50. Надрукувати ті з них, які діляться на 3, але не діляться на 5.",
        },
        {
          title: 'Завдання №24',
          id: 38,
          href: 'task_38.html',
          description: "Дано натуральні числа від 35 до 87. Надрукувати ті з них, які при діленні на 7 дають остачу 1, 2 або 5.",
        },
        {
          title: 'Завдання №10',
          id: 39,
          href: 'task_39.html',
          description: "Дано натуральні числа від 1 до 50. Знайти суму тих, які діляться на 5 чи 7.",
        },
        {
          title: 'Завдання №11',
          id: 40,
          href: 'task_40.html',
          description: "Надрукувати всі двоцифрові числа, які діляться на 4, але не діляться на 6",
        },
        {
          title: 'Завдання №12',
          id: 41,
          href: 'task_41.html',
          description: "Знайти добуток двоцифрових непарних чисел кратних 13.",
        },
        {
          title: 'Завдання №13',
          id: 42,
          href: 'task_42.html',
          description: "Знайти суму всіх чисел від 100 до 200, кратних 17.",
        },
        {
          title: 'Завдання №16',
          id: 43,
          href: 'task_43.html',
          description: "У бригаді, що працює на сінокосі, є N сінокосарок. Перша сінокосарка працювала m годин, а кожна наступна на 10 хв більше, ніж попередня. Скільки годин працювала вся бригада?",
        },
      ]
    }
  ]
