-
  const taskGroups = [
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Дано масив 30 випадкових цілих чисел. Підрахувати скільки було обмінів та порівнянь чисел під час сортування бульбашкою."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано масив 30 випадкових цілих чисел. Підрахувати скільки було обмінів та порівнянь чисел під час сортування змішуванням."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Дано масив 30 випадкових цілих чисел. Підрахувати скільки було обмінів та порівнянь чисел під час сортування включеннями."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Для розглянутих методів сортування спробувати вивести етапи сортування шляхом виведення відповідних таблиць за зразком."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано масив імен. Застосовуючи відповідне сортування та бінарний пошук визначити, чи є у масиві ім’я «Olga» і під яким індексом."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Дано масив імен. Застосовуючи відповідне сортування та бінарний пошук визначити, чи є у масиві ім’я довжиною 5 символів і під яким індексом."
        },
      ]
    },
  ]
