extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 2),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 2)


block content
  p
    | Дано рік народження (дата: 1 січня) та поточний рік. Знайти
    | кількість років.
  hr
  h2 Рішення:
  script.
    // Крок 0. Позначення величин
    // yearOfBirth : number
    // currentYear : number
    // yearsOld : number
    // Крок 1. Введення необхідних даних
    const yearOfBirth = parseInt(prompt("Введіть рік народження", "1997"));
    const currentYear = 2025;
    // Крок 2. Обчислення результатів
    const yearsOld = currentYear - yearOfBirth;
    // Крок 3. Виведення результатів
    document.write(`Кількість років: ${yearsOld}.`);
