extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task => task.id === 0)

block content
  ol
    li
      :math
        S_1 = a + 12 + b
    li
      :math
        S_2 = \sqrt \frac {a + b} {2a}
    li
      :math
        S_3 = \sqrt [3] {(a - b)c}
    li
      :math
        S_4 = \sin (\frac {a} {-b})
  hr
  h2 Рішення:
  script.
    // Крок 0. Позначення величин
    // a : number
    // b : number
    // c : number
    // s1 : number
    // s2 : number
    // s3 : number
    // s4 : number
    // Крок 1. Введення необхідних даних
    const a = parseFloat(prompt("Введіть значення числа a", "1"));
    const b = parseFloat(prompt("Введіть значення числа b", "1"));
    const c = parseFloat(prompt("Введіть значення числа c", "1"));
    // Крок 2. Обчислення результатів
    const s1 = a + 12 + b;
    const s2 = Math.sqrt((a + b) / (2 * a));
    const s3 = Math.cbrt((a + b) * c);
    const s4 = Math.sin(a / -b);
    // Крок 3. Виведення результатів
    document.write(`
    <ol>
    <li>S<sub>1</sub> = ${s1.toFixed(2)}</li>
    <li>S<sub>2</sub> = ${s2.toFixed(2)}</li>
    <li>S<sub>3</sub> = ${s3.toFixed(2)}</li>
    <li>S<sub>4</sub> = ${s4.toFixed(2)}</li>
    </ol>`);
