extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 13)


block content
  p= currentTask.description
  hr
  h2 Рішення:
  script(src="./scripts/task_13.js")
