extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 30)


block content
  p Дано масив #[:math x] із #[:math n] елементів. Знайдіть
    |
    |
    :math
      x_1 x_n + x_2 x_{n - 1} + ... + x_n x_1
    | .
  hr
  h2 Рішення:
  script(src="./scripts/task_30.js")
