extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 0)


block content
  p= currentTask.description
  ol
    li Сформувати новий масив, у якому є тільки ті, що більші за 1000 грн.
    li Сформувати новий масив, у якому є номери тільки тих, що більші за 1000 грн.
    li Сформувати список з тих цін, які більші за попереднє значення
    li Сформувати новий масив, що міститиме значення цін у відсотках стосовно максимального
    li Підрахувати кількість змін цін
    li Визначити, чи є ціна, що менше 1000
    li Визначати, чи усі ціни більше за 1000
    li Підрахувати кількість цін, що більше за 1000
    li Підрахувати суму цін, що більше за 1000
    li Знайти першу ціну, що більше за 1000
    li Знайти індекс першої ціни, що більше за 1000
    li Знайти останню ціну, що більше за 1000
    li Знайти індекс останньої ціни, що більше за 1000
  hr
  h2 Рішення:
  script(src="./scripts/task_00.js")
