extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 1)


block content
  p= currentTask.description
  pre.
    ----- Властивості ------
    - назва компанії на час розробки (назву періодично змінюють)
    - власник компанії
    - спонсори (масив спонсорів)
          * прізвище спонсора
          * ім’я  спонсора
          * сума вкладень спонсора
    - рік випуску
    - вартість сайту

  p Знайти:
  ol
    li загальну вартість усіх сайтів
    li кількість сайтів, що було зроблено між 2000 та 2009 рр.
    li кількість сайтів, де сума спонсорських вкладень була більшою за 100000
    li створити загальний список усіх спонсорів (поки можуть повторюватись, просто зібрати усі у масив)
    li знайти рік, коли прибуток був найбільшим
    li упорядкувати список за спаданням прибутку
    li Створити 2 окремих списки з копіями об'єктів, що містять сайти з вартість до 10000 і більше 10000

  script(src="./scripts/task_01.js")
