@use "sass:map";
@use "variables" as *;

$config: (
  "aspect-ratio": (
    "auto": auto,
    "square": 1,
    "video": "16 / 9",
  ),
  "box-shadow": (
    "sm": 0 1px 2px 0 hsl(0deg 0% 0% / 5%),
    "DEFAULT": (
      0 1px 3px 0 hsl(0deg 0% 0% / 10%),
      0 1px 2px -1px hsl(0deg 0% 0% / 10%),
    ),
    "md": (
      0 4px 6px -1px hsl(0deg 0% 0% / 10%),
      0 2px 4px -2px hsl(0deg 0% 0% / 10%),
    ),
    "lg": (
      0 10px 15px -3px hsl(0deg 0% 0% / 10%),
      0 4px 6px -4px hsl(0deg 0% 0% / 10%),
    ),
    "xl": (
      0 20px 25px -5px hsl(0deg 0% 0% / 10%),
      0 8px 10px -6px hsl(0deg 0% 0% / 10%),
    ),
    "2xl": 0 25px 50px -12px hsl(0deg 0% 0% / 25%),
    "inner": inset 0 2px 4px 0 hsl(0deg 0% 0% / 5%),
    "none": none,
  ),
  "color": (
    "slate": (
      "50": hsl(210deg 40% 98%),
      "100": hsl(210deg 40% 96%),
      "200": hsl(214deg 32% 91%),
      "300": hsl(213deg 27% 84%),
      "400": hsl(215deg 20% 65%),
      "500": hsl(215deg 16% 47%),
      "600": hsl(215deg 19% 35%),
      "700": hsl(215deg 25% 27%),
      "800": hsl(217deg 33% 17%),
      "900": hsl(222deg 47% 11%),
      "950": hsl(229deg 84% 5%),
    ),
    "gray": (
      "50": hsl(210deg 20% 98%),
      "100": hsl(220deg 14% 96%),
      "200": hsl(220deg 13% 91%),
      "300": hsl(216deg 12% 84%),
      "400": hsl(218deg 11% 65%),
      "500": hsl(220deg 9% 46%),
      "600": hsl(215deg 14% 34%),
      "700": hsl(217deg 19% 27%),
      "800": hsl(215deg 28% 17%),
      "900": hsl(221deg 39% 11%),
      "950": hsl(224deg 71% 4%),
    ),
    "zinc": (
      "50": hsl(0deg 0% 98%),
      "100": hsl(240deg 5% 96%),
      "200": hsl(240deg 6% 90%),
      "300": hsl(240deg 5% 84%),
      "400": hsl(240deg 5% 65%),
      "500": hsl(240deg 4% 46%),
      "600": hsl(240deg 5% 34%),
      "700": hsl(240deg 5% 26%),
      "800": hsl(240deg 4% 16%),
      "900": hsl(240deg 6% 10%),
      "950": hsl(240deg 10% 4%),
    ),
    "neutral": (
      "50": hsl(0deg 0% 98%),
      "100": hsl(0deg 0% 96%),
      "200": hsl(0deg 0% 90%),
      "300": hsl(0deg 0% 83%),
      "400": hsl(0deg 0% 64%),
      "500": hsl(0deg 0% 45%),
      "600": hsl(0deg 0% 32%),
      "700": hsl(0deg 0% 25%),
      "800": hsl(0deg 0% 15%),
      "900": hsl(0deg 0% 9%),
      "950": hsl(0deg 0% 4%),
    ),
    "stone": (
      "50": hsl(60deg 9% 98%),
      "100": hsl(60deg 5% 96%),
      "200": hsl(20deg 6% 90%),
      "300": hsl(24deg 6% 83%),
      "400": hsl(24deg 5% 64%),
      "500": hsl(25deg 5% 45%),
      "600": hsl(33deg 5% 32%),
      "700": hsl(30deg 6% 25%),
      "800": hsl(12deg 6% 15%),
      "900": hsl(24deg 10% 10%),
      "950": hsl(20deg 14% 4%),
    ),
    "red": (
      "50": hsl(0deg 86% 97%),
      "100": hsl(0deg 93% 94%),
      "200": hsl(0deg 96% 89%),
      "300": hsl(0deg 94% 82%),
      "400": hsl(0deg 91% 71%),
      "500": hsl(0deg 84% 60%),
      "600": hsl(0deg 72% 51%),
      "700": hsl(0deg 74% 42%),
      "800": hsl(0deg 70% 35%),
      "900": hsl(0deg 63% 31%),
      "950": hsl(0deg 75% 15%),
    ),
    "orange": (
      "50": hsl(33deg 100% 96%),
      "100": hsl(34deg 100% 92%),
      "200": hsl(32deg 98% 83%),
      "300": hsl(31deg 97% 72%),
      "400": hsl(27deg 96% 61%),
      "500": hsl(25deg 95% 53%),
      "600": hsl(21deg 90% 48%),
      "700": hsl(17deg 88% 40%),
      "800": hsl(15deg 79% 34%),
      "900": hsl(15deg 75% 28%),
      "950": hsl(13deg 81% 15%),
    ),
    "amber": (
      "50": hsl(48deg 100% 96%),
      "100": hsl(48deg 96% 89%),
      "200": hsl(48deg 97% 77%),
      "300": hsl(46deg 97% 65%),
      "400": hsl(43deg 96% 56%),
      "500": hsl(38deg 92% 50%),
      "600": hsl(32deg 95% 44%),
      "700": hsl(26deg 90% 37%),
      "800": hsl(23deg 83% 31%),
      "900": hsl(22deg 78% 26%),
      "950": hsl(21deg 92% 14%),
    ),
    "yellow": (
      "50": hsl(55deg 92% 95%),
      "100": hsl(55deg 97% 88%),
      "200": hsl(53deg 98% 77%),
      "300": hsl(50deg 98% 64%),
      "400": hsl(48deg 96% 53%),
      "500": hsl(45deg 93% 47%),
      "600": hsl(41deg 96% 40%),
      "700": hsl(35deg 92% 33%),
      "800": hsl(32deg 81% 29%),
      "900": hsl(28deg 73% 26%),
      "950": hsl(26deg 83% 14%),
    ),
    "lime": (
      "50": hsl(78deg 92% 95%),
      "100": hsl(80deg 89% 89%),
      "200": hsl(81deg 88% 80%),
      "300": hsl(82deg 85% 67%),
      "400": hsl(83deg 78% 55%),
      "500": hsl(84deg 81% 44%),
      "600": hsl(85deg 85% 35%),
      "700": hsl(86deg 78% 27%),
      "800": hsl(86deg 69% 23%),
      "900": hsl(88deg 61% 20%),
      "950": hsl(89deg 80% 10%),
    ),
    "green": (
      "50": hsl(138deg 76% 97%),
      "100": hsl(141deg 84% 93%),
      "200": hsl(141deg 79% 85%),
      "300": hsl(142deg 77% 73%),
      "400": hsl(142deg 69% 58%),
      "500": hsl(142deg 71% 45%),
      "600": hsl(142deg 76% 36%),
      "700": hsl(142deg 72% 29%),
      "800": hsl(143deg 64% 24%),
      "900": hsl(144deg 61% 20%),
      "950": hsl(145deg 80% 10%),
    ),
    "emerald": (
      "50": hsl(152deg 81% 96%),
      "100": hsl(149deg 80% 90%),
      "200": hsl(152deg 76% 80%),
      "300": hsl(156deg 72% 67%),
      "400": hsl(158deg 64% 52%),
      "500": hsl(160deg 84% 39%),
      "600": hsl(161deg 94% 30%),
      "700": hsl(163deg 94% 24%),
      "800": hsl(163deg 88% 20%),
      "900": hsl(164deg 86% 16%),
      "950": hsl(166deg 91% 9%),
    ),
    "teal": (
      "50": hsl(166deg 76% 97%),
      "100": hsl(167deg 85% 89%),
      "200": hsl(168deg 84% 78%),
      "300": hsl(171deg 77% 64%),
      "400": hsl(172deg 66% 50%),
      "500": hsl(173deg 80% 40%),
      "600": hsl(175deg 84% 32%),
      "700": hsl(175deg 77% 26%),
      "800": hsl(176deg 69% 22%),
      "900": hsl(176deg 61% 19%),
      "950": hsl(179deg 84% 10%),
    ),
    "cyan": (
      "50": hsl(183deg 100% 96%),
      "100": hsl(185deg 96% 90%),
      "200": hsl(186deg 94% 82%),
      "300": hsl(187deg 92% 69%),
      "400": hsl(188deg 86% 53%),
      "500": hsl(189deg 94% 43%),
      "600": hsl(192deg 91% 36%),
      "700": hsl(193deg 82% 31%),
      "800": hsl(194deg 70% 27%),
      "900": hsl(196deg 64% 24%),
      "950": hsl(197deg 79% 15%),
    ),
    "sky": (
      "50": hsl(204deg 100% 97%),
      "100": hsl(204deg 94% 94%),
      "200": hsl(201deg 94% 86%),
      "300": hsl(199deg 95% 74%),
      "400": hsl(198deg 93% 60%),
      "500": hsl(199deg 89% 48%),
      "600": hsl(200deg 98% 39%),
      "700": hsl(201deg 96% 32%),
      "800": hsl(201deg 90% 27%),
      "900": hsl(202deg 80% 24%),
      "950": hsl(204deg 80% 16%),
    ),
    "blue": (
      "50": hsl(214deg 100% 97%),
      "100": hsl(214deg 95% 93%),
      "200": hsl(213deg 97% 87%),
      "300": hsl(212deg 96% 78%),
      "400": hsl(213deg 94% 68%),
      "500": hsl(217deg 91% 60%),
      "600": hsl(221deg 83% 53%),
      "700": hsl(224deg 76% 48%),
      "800": hsl(226deg 71% 40%),
      "900": hsl(224deg 64% 33%),
      "950": hsl(226deg 57% 21%),
    ),
    "indigo": (
      "50": hsl(226deg 100% 97%),
      "100": hsl(226deg 100% 94%),
      "200": hsl(228deg 96% 89%),
      "300": hsl(230deg 94% 82%),
      "400": hsl(234deg 89% 74%),
      "500": hsl(239deg 84% 67%),
      "600": hsl(243deg 75% 59%),
      "700": hsl(245deg 58% 51%),
      "800": hsl(244deg 55% 41%),
      "900": hsl(242deg 47% 34%),
      "950": hsl(244deg 47% 20%),
    ),
    "violet": (
      "50": hsl(250deg 100% 98%),
      "100": hsl(251deg 91% 95%),
      "200": hsl(251deg 95% 92%),
      "300": hsl(253deg 95% 85%),
      "400": hsl(255deg 92% 76%),
      "500": hsl(258deg 90% 66%),
      "600": hsl(262deg 83% 58%),
      "700": hsl(263deg 70% 50%),
      "800": hsl(263deg 69% 42%),
      "900": hsl(264deg 67% 35%),
      "950": hsl(261deg 73% 23%),
    ),
    "purple": (
      "50": hsl(270deg 100% 98%),
      "100": hsl(269deg 100% 95%),
      "200": hsl(269deg 100% 92%),
      "300": hsl(269deg 97% 85%),
      "400": hsl(270deg 95% 75%),
      "500": hsl(271deg 91% 65%),
      "600": hsl(271deg 81% 56%),
      "700": hsl(272deg 72% 47%),
      "800": hsl(273deg 67% 39%),
      "900": hsl(274deg 66% 32%),
      "950": hsl(274deg 87% 21%),
    ),
    "fuchsia": (
      "50": hsl(289deg 100% 98%),
      "100": hsl(287deg 100% 95%),
      "200": hsl(288deg 96% 91%),
      "300": hsl(291deg 93% 83%),
      "400": hsl(292deg 91% 73%),
      "500": hsl(292deg 84% 61%),
      "600": hsl(293deg 69% 49%),
      "700": hsl(295deg 72% 40%),
      "800": hsl(295deg 70% 33%),
      "900": hsl(297deg 64% 28%),
      "950": hsl(297deg 90% 16%),
    ),
    "pink": (
      "50": hsl(327deg 73% 97%),
      "100": hsl(326deg 78% 95%),
      "200": hsl(326deg 85% 90%),
      "300": hsl(327deg 87% 82%),
      "400": hsl(329deg 86% 70%),
      "500": hsl(330deg 81% 60%),
      "600": hsl(333deg 71% 51%),
      "700": hsl(335deg 78% 42%),
      "800": hsl(336deg 74% 35%),
      "900": hsl(336deg 69% 30%),
      "950": hsl(336deg 84% 17%),
    ),
    "rose": (
      "50": hsl(356deg 100% 97%),
      "100": hsl(356deg 100% 95%),
      "200": hsl(353deg 96% 90%),
      "300": hsl(353deg 96% 82%),
      "400": hsl(351deg 95% 71%),
      "500": hsl(350deg 89% 60%),
      "600": hsl(347deg 77% 50%),
      "700": hsl(345deg 83% 41%),
      "800": hsl(343deg 80% 35%),
      "900": hsl(342deg 75% 30%),
      "950": hsl(343deg 88% 16%),
    ),
  ),

  "font-family": (
    "primary": (
      "Segoe UI",
      tahoma,
      geneva,
      verdana,
      sans-serif,
    ),
    "secondary": (
      georgia,
      serif,
    ),
    "monospace": (
      "Consolas",
      monospace,
    ),
  ),

  "font-size": (
    "50": 0.25rem,
    "100": 0.5rem,
    "200": 0.75rem,
    "250": 0.875rem,
    "300": 1rem,
    "350": 1.125rem,
    "400": 1.25rem,
    "450": 1.5rem,
    "500": 1.875rem,
    "550": 2.25rem,
    "600": 3rem,
    "650": 3.75rem,
    "700": 4.5rem,
    "800": 6rem,
    "900": 8rem,
  ),
  "font-weight": (
    "thin": 100,
    "extralight": 200,
    "light": 300,
    "normal": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
    "black": 900,
  ),
  "spacing": (
    "px": 1px,
    "0": 0px,
    "50": 0.125rem,
    "100": 0.25rem,
    "150": 0.375rem,
    "200": 0.5rem,
    "250": 0.625rem,
    "300": 0.75rem,
    "350": 0.875rem,
    "400": 1rem,
    "500": 1.25rem,
    "600": 1.5rem,
    "700": 1.75rem,
    "800": 2rem,
    "900": 2.25rem,
    "1000": 2.5rem,
    "1100": 2.75rem,
    "1200": 3rem,
    "1400": 3.5rem,
    "1600": 4rem,
    "2000": 5rem,
    "2400": 6rem,
    "2800": 7rem,
    "3200": 8rem,
    "3600": 9rem,
    "4000": 10rem,
    "4400": 11rem,
    "4800": 12rem,
    "5200": 13rem,
    "5600": 14rem,
    "6000": 15rem,
    "6400": 16rem,
    "7200": 18rem,
    "8000": 20rem,
    "9600": 24rem,
  ),
  "screens": (
    "3xs": 20em,

    "2xs": 30em,

    "xs": 36em,

    "sm": 40em,

    "md": 48em,

    "lg": 64em,

    "xl": 80em,

    "2xl": 96em,
  ),
  "border-width": (
    "DEFAULT": 1px,
    "0": 0px,
    "2": 2px,
    "4": 4px,
    "8": 8px,
  ),
  "border-style": (
    "DEFAULT": solid,
    "none": none,
    "hidden": hidden,
    "dotted": dotted,
    "dashed": dashed,
    "double": double,
    "groove": groove,
    "ridge": ridge,
    "inset": inset,
    "outset": outset,
  ),
  "border-radius": (
    "none": 0px,
    "sm": 0.125rem,
    "DEFAULT": 0.25rem,
    "md": 0.375rem,
    "lg": 0.5rem,
    "xl": 0.75rem,
    "2xl": 1rem,
    "3xl": 1.5rem,
    "full": 9999px,
  ),
  "letter-spacing": (
    "tighter": -0.05em,
    "tight": -0.025em,
    "normal": 0em,
    "wide": 0.025em,
    "wider": 0.05em,
    "widest": 0.1em,
  ),
  "line-height": (
    "none": 1,
    "tight": 1.25,
    "snug": 1.375,
    "normal": 1.5,
    "relaxed": 1.625,
    "loose": 2,
    "3": 0.75rem,
    "4": 1rem,
    "5": 1.25rem,
    "6": 1.5rem,
    "7": 1.75rem,
    "8": 2rem,
    "9": 2.25rem,
    "10": 2.5rem,
  ),
  "width": (
    "auto": auto,
    "1/2": 50%,
    "1/3": 33.3333%,
    "2/3": 66.6667%,
    "1/4": 25%,
    "2/4": 50%,
    "3/4": 75%,
    "1/5": 20%,
    "2/5": 40%,
    "3/5": 60%,
    "4/5": 80%,
    "1/6": 16.6667%,
    "2/6": 33.3333%,
    "3/6": 50%,
    "4/6": 66.6667%,
    "5/6": 83.3333%,
    "1/12": 8.3333%,
    "2/12": 16.6667%,
    "3/12": 25%,
    "4/12": 33.3333%,
    "5/12": 41.6667%,
    "6/12": 50%,
    "7/12": 58.3333%,
    "8/12": 66.6667%,
    "9/12": 75%,
    "10/12": 83.3333%,
    "11/12": 91.6667%,
    "full": 100%,
    "none": none,
    "xs": 20rem,
    "sm": 24rem,
    "md": 28rem,
    "lg": 32rem,
    "xl": 36rem,
    "2xl": 42rem,
    "3xl": 48rem,
    "4xl": 56rem,
    "5xl": 64rem,
    "6xl": 72rem,
    "7xl": 80rem,
    "prose": 75ch,
    "screen": 100vi,
    "svi": 100svi,
    "lvi": 100lvi,
    "dvi": 100dvi,
    "min": min-content,
    "max": max-content,
    "fit": fit-content,
  ),
  "height": (
    "auto": auto,
    "1/2": 50%,
    "1/3": 33.3333%,
    "2/3": 66.6667%,
    "1/4": 25%,
    "2/4": 50%,
    "3/4": 75%,
    "1/5": 20%,
    "2/5": 40%,
    "3/5": 60%,
    "4/5": 80%,
    "1/6": 16.6667%,
    "2/6": 33.3333%,
    "3/6": 50%,
    "4/6": 66.6667%,
    "5/6": 83.3333%,
    "full": 100%,
    "screen": 100vh,
    "svb": 100svb,
    "lvb": 100lvb,
    "dvb": 100dvb,
    "min": min-content,
    "max": max-content,
    "fit": fit-content,
  ),
  "line-clamp": (
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
    "6": 6,
  ),
  "overflow": (
    "auto": auto,
    "hidden": hidden,
    "clip": clip,
    "visible": visible,
    "scroll": scroll,
  ),
);
$config: map.merge($config, "width", map.get($config, "spacing"));
$config: map.merge($config, "height", map.get($config, "spacing"));
$config: map.set($config, "border-color", map.get($config, "color"));
