extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 5)


block content
  p= currentTask.description
  ol
    li двійок
    li кількість хороших оцінок (добре, відмінно);
    li кількість оцінок, які нижче середнього.
  hr
  h2 Рішення:
  script(src="./scripts/task_05.js")
