extends ../../layouts/_task-layout.pug

block frontmatter
  -
    const number = '02'
    const tasks = ["01", "02", "03", "04", "05", "06", "07"]

block content
  p З клавіатури вводиться ціна товару і кількість грошей. Якщо грошей не вистачає то відмовляємо у покупці, інакше, якщо ще залишаються гроші, то пропонуємо купити лотерею за 4 грн.
  hr
  h2 Рішення:
  script
    include ./scripts/_task_02.js
