extends ../../layouts/_task-layout.pug

block frontmatter
  -
    const number = '05'
    const tasks = ["01", "02", "03", "04", "05", "06", "07"]

block content
  p З клавіатури вводиться назва категорії водія (А-мотоцикл, В-легковий автомобіль, С-вантажний автомобіль). Вивести на екран назву транспортного засобу, яким він може керувати.
  hr
  h2 Рішення:
  script
    include ./scripts/_task_05.js
