extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task=>task.number === 6)

block content
  p З клавіатури вводиться номер дня тижня. Вивести на екран назву дня.
  hr
  h2 Рішення:
  script
    include ./scripts/_task_06.js
