extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 7)


block content
  p З клавіатури вводиться номер місяця. Вивести до якої пори він відноситься

  hr
  h2 Рішення:
  script
    include ./scripts/_task_07.js
