extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 6)


block content
  p З клавіатури вводиться номер дня тижня. Вивести на екран назву дня.
  hr
  h2 Рішення:
  script
    include ./scripts/_task_06.js
