extends ../../layouts/_task-layout.pug

block frontmatter
  -
    const title = 'Завдання №X'
    const tasks = ["01", "02", "03", "04", "05", "06", "07"]

block content
  p Умова:
  hr
  h2 Рішення:
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  script
    //- include ./scripts/_task_01.js
