extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task=>task.number === 3)

block content
  p Випадковим чином генерується число від 1 до 5. Спробуйте вгадати число за 2 спроби.
  hr
  h2 Рішення:
  script
    include ./scripts/_task_03.js
