@use "sass:map";
@use "sass:meta";
@use "../abstracts" as *;

/* { utility classes } */

.u-icon {
  inline-size: 1em;
  block-size: 1em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.u-ibg {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
}

.u-static {
  position: static;
}

.u-fixed {
  position: fixed;
}

.u-absolute {
  position: absolute;
}

.u-relative {
  position: relative;
}

.u-sticky {
  position: sticky;
}

@each $key, $value in map.get($config, "aspect-ratio") {
  .u-aspect-#{str-replace($key, "/", "\\/")} {
    aspect-ratio: $value;
  }
}

@each $key, $value in map.get($config, "spacing") {
  .u-flow-#{$key} {
    & > * + * {
      margin-block-start: $value;
    }
  }

  .u-m-#{$key} {
    margin: $value;
  }

  .u-mb-#{$key} {
    margin-block: $value;
  }

  .u-mbs-#{$key} {
    margin-block-start: $value;
  }

  .u-mbe-#{$key} {
    margin-block-end: $value;
  }

  .u-mi-#{$key} {
    margin-inline: $value;
  }

  .u-mis-#{$key} {
    margin-inline-start: $value;
  }

  .u-mie-#{$key} {
    margin-inline-end: $value;
  }

  .u-p-#{$key} {
    padding: $value;
  }

  .u-pb-#{$key} {
    padding-block: $value;
  }

  .u-pbs-#{$key} {
    padding-block-start: $value;
  }

  .u-pbe-#{$key} {
    padding-block-end: $value;
  }

  .u-pi-#{$key} {
    padding-inline: $value;
  }

  .u-pis-#{$key} {
    padding-inline-start: $value;
  }

  .u-pie-#{$key} {
    padding-inline-end: $value;
  }

  .u-gap-#{$key} {
    gap: $value;
  }
}

@each $key, $value in map.get($config, "width") {
  .u-is-#{str-replace($key, "/", "\\/")} {
    inline-size: $value;
  }
}

@each $key, $value in map.get($config, "width") {
  .u-max-is-#{str-replace($key, "/", "\\/")} {
    max-inline-size: $value;
  }
}

@each $key, $value in map.get($config, "width") {
  .u-min-is-#{str-replace($key, "/", "\\/")} {
    min-inline-size: $value;
  }
}

@each $key, $value in map.get($config, "height") {
  .u-bs-#{str-replace($key, "/", "\\/")} {
    block-size: $value;
  }
}

@each $key, $value in map.get($config, "height") {
  .u-max-bs-#{str-replace($key, "/", "\\/")} {
    max-block-size: $value;
  }
}

@each $key, $value in map.get($config, "height") {
  .u-min-bs-#{str-replace($key, "/", "\\/")} {
    min-block-size: $value;
  }
}

@each $key, $value in map.get($config, "font-family") {
  .u-font-#{$key} {
    font-family: $value;
  }
}

@each $key, $value in map.get($config, "line-height") {
  .u-leading-#{$key} {
    line-height: $value;
  }
}

@each $key, $value in map.get($config, "font-size") {
  .u-text-#{$key} {
    font-size: $value;
  }
}

@each $key-master, $value-master in map.get($config, "color") {
  @if meta.type-of($value-master) != "map" {
    .u-text-#{$key-master} {
      color: $value-master;
    }

    .u-bg-#{$key-master} {
      background-color: $value-master;
    }
  } @else {
    @each $key, $value in $value-master {
      .u-text-#{$key-master}-#{$key} {
        color: $value;
      }

      .u-bg-#{$key-master}-#{$key} {
        background-color: $value;
      }
    }
  }
}

// border
[class*="u-border"] {
  border-width: map.get($config, "border-width", "DEFAULT");
  border-style: map.get($config, "border-style", "DEFAULT");
}

@each $key, $value in map.get($config, "border-width") {
  .u-border-#{$key} {
    border-width: $value;
  }
}

@each $key, $value in map.get($config, "border-style") {
  .u-border-#{$key} {
    border-style: $value;
  }
}

// @each $key-master, $value-master in map.get($config, "border-color") {
//   @if meta.type-of($value-master) != "map" {
//     .u-border-#{$key-master} {
//       border-color: $value-master;
//     }

//     @break;
//   }

//   @each $key, $value in $value-master {
//     .u-border-#{$key-master}-#{$key} {
//       border-color: $value;
//     }
//   }
// }

@each $key, $value in map.get($config, "border-radius") {
  .u-rounded-#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in map.get($config, "overflow") {
  .u-overflow-#{$key} {
    overflow: $value;
  }
}

@each $key, $value in map.get($config, "object-fit") {
  .u-object-#{$key} {
    object-fit: $value;
  }
}

@each $key, $value in map.get($config, "flex") {
  .u-flex-#{$key} {
    flex: $value;
  }
}

.u-block {
  display: block;
}

.u-inline-block {
  display: inline-block;
}

.u-inline {
  display: inline;
}

.u-hidden {
  display: none;
}

.u-sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border-width: 0;
  white-space: nowrap;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-normal-case {
  text-transform: none;
}

.u-font-bolder {
  font-weight: bolder;
}

.u-grid {
  display: grid;
}

.u-inline-grid {
  display: inline-grid;
}

.u-flex {
  display: flex;
}

.u-inline-flex {
  display: flex;
}

.u-flex-row {
  flex-direction: row;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-col-reverse {
  flex-direction: column-reverse;
}

.u-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-end-safe {
  justify-content: safe flex-end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-center-safe {
  justify-content: safe center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-around {
  justify-content: space-around;
}

.u-justify-evenly {
  justify-content: space-evenly;
}

.u-justify-stretch {
  justify-content: stretch;
}

.u-justify-baseline {
  justify-content: baseline;
}

.u-justify-normal {
  justify-content: normal;
}

.u-items-start {
  align-items: flex-start;
}

.u-items-end {
  align-items: flex-end;
}

.u-items-end-safe {
  align-items: safe flex-end;
}

.u-items-center {
  align-items: center;
}

.u-items-center-safe {
  align-items: safe center;
}

.u-items-baseline {
  align-items: baseline;
}

.u-items-baseline-last {
  align-items: last baseline;
}

.u-items-stretch {
  align-items: stretch;
}

.u-place-items-start {
  place-items: start;
}

.u-place-items-end {
  place-items: end;
}

.u-place-items-center {
  place-items: center;
}

.u-place-items-baseline {
  place-items: baseline;
}

.u-place-items-stretch {
  place-items: stretch;
}

.u-place-content-center {
  place-content: center;
}

.u-place-content-center-safe {
  place-content: safe center;
}

.u-place-content-start {
  place-content: start;
}

.u-place-content-end {
  place-content: end;
}

.u-place-content-end-safe {
  place-content: safe end;
}

.u-place-content-between {
  place-content: space-between;
}

.u-place-content-around {
  place-content: space-around;
}

.u-place-content-evenly {
  place-content: space-evenly;
}

.u-place-content-baseline {
  place-content: baseline;
}

.u-place-content-stretch {
  place-content: stretch;
}

.u-self-auto {
  align-self: auto;
}

.u-self-start {
  align-self: flex-start;
}

.u-self-end {
  align-self: flex-end;
}

.u-self-end-safe {
  align-self: safe flex-end;
}

.u-self-center {
  align-self: center;
}

.u-self-center-safe {
  align-self: safe center;
}

.u-self-stretch {
  align-self: stretch;
}

.u-self-baseline {
  align-self: baseline;
}

.u-text-center {
  text-align: center;
}

.u-text-start {
  text-align: start;
}

.u-text-end {
  text-align: end;
}

.u-flip {
  rotate: 0.5turn;
}

/* { end of utility classes } */
