-
  const tasks = [
    {
      title: 'Завдання №-2',
      number: -2,
      href: 'task_-02.html',
      description: "Вивести на екран номери місяців весни і літа (від 3 до 8)",
    },
    {
      title: 'Завдання №-1',
      number: -1,
      href: 'task_-01.html',
      description: "Поступово генерувати 100 випадкових чисел від 1 до 1000. Підрахувати яких чисел більше: парних чи непарних.",
    },
    {
      title: 'Завдання №0',
      id: 0,
      href: 'task_00.html',
      description: "Вивести на екран 8 кнопок з написом “Hello”.",
    },
    {
      title: 'Завдання №1',
      id: 1,
      href: 'task_01.html',
      description: "Вивести з використанням циклів маркований список з випадковими числами (1-100). Кількість випадкових чисел вводиться користувачем. Приклад:",
    },
    {
      title: 'Завдання №2',
      id: 2,
      href: 'task_02.html',
      description: "Створити 10 елементів для введення цін продуктів",
    },
    {
      title: 'Завдання №3',
      id: 3,
      href: 'task_03.html',
      description: "Вивести таблицю з одним рядком і 7 стовпцями.",
    },
    {
      title: 'Завдання №4',
      id: 4,
      href: 'task_04.html',
      description: "Вивести таблицю з 3 рядків і 7 стовпців",
    },
    {
      title: 'Завдання №5',
      id: 5,
      href: 'task_05.html',
      description: "Вивести таблицю",
    },
    {
      title: 'Завдання №6',
      id: 6,
      href: 'task_06.html',
      description: "Вивести 3 таблиці (по 3 рядки і 3 стовпці у кожній) за зразком",
      featured: true
    },
    {
      title: 'Завдання №7',
      id: 7,
      href: 'task_07.html',
      description: "Вивести на екран N абзаців (N вводиться користувачем) за зразком:",
    },
    {
      title: 'Завдання №8',
      id: 8,
      href: 'task_08.html',
      description: "Користувач загадує число. За 3 спроби комп'ютер намагається вгадати число користувача (використати confirm).",
    },
    {
      title: 'Завдання №9',
      id: 9,
      href: 'task_09.html',
      description: "Користувач загадує число. Комп'ютер задає питання поки не вгадає число користувача (використати confirm).",
      featured: true
    },
    {
      title: 'Завдання №10',
      id: 10,
      href: 'task_10.html',
      description: "Знайти суму всіх непарних чисел, що знаходяться між заданими користувачем числами.",
    },
    {
      title: 'Завдання №11',
      id: 11,
      href: 'task_11.html',
      description: "Знайти суму 5 непарних чисел, що знаходяться між заданими користувачем числами.",
      featured: true
    },
    {
      title: 'Завдання №12',
      id: 12,
      href: 'task_12.html',
      description: "Ігровий автомат. Випадково вибираємо зображення у 3 позиціях. Вибір у кожній позиції вибирається як одне з чотирьох зображень. Вивести ці зображення і повідомити виграш користувача (три перших зображення 100 грн, три других – 200, три третіх – 500, три четвертих зображення – 1000грн). Використати цикли і switch (для вибору зображення за номером).",
      featured: true
    },
    {
      title: 'Завдання №13',
      id: 13,
      href: 'task_13.html',
      description: "Морський бій. Комп'ютер випадково розташовує одиночний корабель на полі розміром N*M. Маючи К снарядів користувач намагається потопити корабель.",
    },
    {
      title: 'Завдання №14',
      id: 14,
      href: 'task_14.html',
      description: "Каса. Користувачу повідомляють суму, яку йому треба сплатити. Користувач поступово вводить суму грошей до тих пір, поки суми не буде достатньо для оплати товарів (кожного разу користувачу повідомляють, яку ще суму потрібно ввести).",
    },
    {
      title: 'Завдання №15',
      id: 15,
      href: 'task_15.html',
      description: "Користувач поступово вводить показники температури протягом року. Знайти середню температуру.",
      featured: true
    },
    {
      title: 'Завдання №16',
      id: 16,
      href: 'task_16.html',
      description: "Користувач поступово вводить прибуток магазину за кожен день протягом N тижнів. Знайти загальну величину прибутку та вивести величину прибутку протягом кожного окремого тижня.",
    },
  ]
