-
  const tasks = [
    {
      title: 'Завдання №-2',
      number: -2,
      href: 'task_-02.html',
    },
    {
      title: 'Завдання №-1',
      number: -1,
      href: 'task_-01.html',
    },
    {
      title: 'Завдання №0',
      number: 0,
      href: 'task_00.html',
    },
    {
      title: 'Завдання №1',
      number: 1,
      href: 'task_01.html',
    },
    {
      title: 'Завдання №2',
      number: 2,
      href: 'task_02.html',
    },
    {
      title: 'Завдання №3',
      number: 3,
      href: 'task_03.html',
    },
    {
      title: 'Завдання №4',
      number: 4,
      href: 'task_04.html',
    },
    {
      title: 'Завдання №5',
      number: 5,
      href: 'task_05.html',
    },
    {
      title: 'Завдання №6',
      number: 6,
      href: 'task_06.html',
    },
    {
      title: 'Завдання №7',
      number: 7,
      href: 'task_07.html',
    },
    {
      title: 'Завдання №8',
      number: 8,
      href: 'task_08.html',
    },
    {
      title: 'Завдання №9',
      number: 9,
      href: 'task_09.html',
    },
    {
      title: 'Завдання №10',
      number: 10,
      href: 'task_10.html',
    },
    {
      title: 'Завдання №11',
      number: 11,
      href: 'task_11.html',
    },
    {
      title: 'Завдання №12',
      number: 12,
      href: 'task_12.html',
    },
    {
      title: 'Завдання №13',
      number: 13,
      href: 'task_13.html',
    },
    {
      title: 'Завдання №14',
      number: 14,
      href: 'task_14.html',
    },
    {
      title: 'Завдання №15',
      number: 15,
      href: 'task_15.html',
    },
    {
      title: 'Завдання №16',
      number: 16,
      href: 'task_16.html',
    },
  ]
