-
  const taskGroups = [
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Сяючі зорі. Вказана кількість зірочок повинна з’являтися у випадковій частині екрану. Кожна зірка (це екземпляр класу Star) з певним кроком й інтервалом збільшується від мінімального до максимального розміру. Як тільки досягнуто максимального розміру зірочка повинна з’являтися в іншій випадковій позиції."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Байрактар. З верхньої частини екрану у випадковій позиції по горизонталі з’являються танки, які їдуть вниз. При кліку на танк він вибухає і зникає з екрану."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "На формі вводять 7 числових значень (вік, зріст, вага, заробітна плата, стаж, номер відділу, порядковий номер). Додати подію обробки події click на форму і якщо клік на внутрішньому input, то автоматично замінювати значення його на 0. Використати делегування."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "На сторінці міститься певна кількість кнопок та інпутів. Підраховувати загальну кількість кліків окремо на кнопках й окремо на інпутах."
        },
        {
          title: 'Динамічний пошук',
          id: 5,
          href: 'task_05.html',
          description: "Є список працівників і поле пошуку. При введенні відображаються усі, які містять вказаний фрагмент."
        },
        {
          title: 'Фільтри пошуку',
          id: 6,
          href: 'task_06.html',
          description: "Дано список автомобілів (марка, рік випуску, ціна). Сформувати елементи для фільтрування з використанням випадаючого списку (контент цих випадаючих списків сформувати у залежності від переданого списку)."
        },
        {
          title: 'Кошик товарів',
          id: 7,
          href: 'task_07.html',
          description: "Приклад. Дано перелік товарів у кошику. При зміні кількості одиниць товару збільшувати загальну вартість. Створити клас Product, що призначений для маніпуляцій товаром та клас ProductManager що оперує з усіма товарами (через подію передвати ідентифікатор товару та операцію, що зроблена)."
        },
      ]
    },
  ]
