-
  const taskGroups = [
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №0',
          id: 0,
          href: 'task_00.html',
          description: "Дано два об'єкти. Обидва містять масив цілих чисел. При цьому в одному з них є функція знаходження суми, а в іншому – функція для знаходження добутку тих, які знаходяться між заданими мінімальним і максимальним значеннями. Використати обидва методи стосовно обидвох об'єктів (використати call, apply)"
        },
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Створити об’єкт «Тир». У масиві зберігаються 1, якщо у цьому квадраті є заєць і 0 в іншому випадку."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Створити об’єкт «Авто»."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Розробити клас MultChecker для перевірки таблиці множення"
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Розробити клас Banner"
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Розробити клас «Керівник танців»"
        },
      ]
    },
  ]
