-
  const tasks = [
    {
      title: 'Завдання №1',
      number: 1,
      href: 'task_01.html',
      description: "З клавіатури вводяться імена двох дітей та кількість у них цукерок. Вивести не екран ім’я тієї дитини, у якої кількість цукерок є більшою, або вивести, що кількість однакова.",
    },
    {
      title: 'Завдання №2',
      number: 2,
      href: 'task_02.html',
      description: "З клавіатури вводиться ціна товару і кількість грошей. Якщо грошей не вистачає то відмовляємо у покупці, інакше, якщо ще залишаються гроші, то пропонуємо купити лотерею за 4 грн.",
    },
    {
      title: 'Завдання №3',
      number: 3,
      href: 'task_03.html',
      description: "Випадковим чином генерується число від 1 до 5. Спробуйте вгадати число за 2 спроби.",
    },
    {
      title: 'Завдання №4',
      number: 4,
      href: 'task_04.html',
      description: "З клавіатури вводиться вік людини. Вивести на екран ким він є (дитиною у садочку, школярем, студентом, працівником, пенсіонером).",
    },
    {
      title: 'Завдання №5',
      number: 5,
      href: 'task_05.html',
      description: "З клавіатури вводиться назва категорії водія (А-мотоцикл, В-легковий автомобіль, С-вантажний автомобіль). Вивести на екран назву транспортного засобу, яким він може керувати.",
    },
    {
      title: 'Завдання №6',
      number: 6,
      href: 'task_06.html',
      description: "З клавіатури вводиться номер дня тижня. Вивести на екран назву дня.",
    },
    {
      title: 'Завдання №7',
      number: 7,
      href: 'task_07.html',
      description: "З клавіатури вводиться номер місяця. Вивести до якої пори він відноситься",
    },
  ]
