extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 3),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 3)


block content
  p= currentTask.description
  ol
    li суму;
    li добуток;
    li середнє арифметичне;
    li мінімальне значення.
  hr
  h2 Рішення:
  script(src="./scripts/task_03.js")
