@use "../abstracts" as *;

.s-prose {
  max-inline-size: get-width("prose");
  margin-inline: auto;
  padding-inline: get-spacing("400");

  :where(h1, h2, h3, h4, h5, h6) {
    margin-block: 1.125em 0.5em;
    font-weight: bolder;

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  :where(p, ul, ol, dl, menu, blockquote, table, pre, hr) {
    margin-block: 1em;

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

  a {
    color: get-color("yellow", "500");

    @include hover-focus {
      color: get-color("yellow", "600");
      text-decoration: underline;
    }
  }

  h1 {
    font-size: get-font-size("450");
    line-height: get-line-height("none");

    @include media-width-from("sm") {
      font-size: get-font-size("500");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("550");
    }
  }

  h2 {
    font-size: get-font-size("400");
    line-height: get-line-height("tight");

    @include media-width-from("sm") {
      font-size: get-font-size("450");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("500");
    }
  }

  h3 {
    font-size: get-font-size("350");
    line-height: get-line-height("snug");

    @include media-width-from("sm") {
      font-size: get-font-size("400");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("450");
    }
  }

  hr {
    border: revert;
  }

  * + li {
    margin-block-start: 0.125em;
  }

  ol,
  ul,
  dl,
  menu,
  dir {
    padding: revert;
  }

  li {
    list-style: revert;
  }

  input,
  select {
    @extend %c-input;
  }

  button {
    @extend %c-button;
  }

  // ===========================================================================
  // table

  table {
    inline-size: 100%;
    border-collapse: collapse;
  }

  caption {
    font-weight: bolder;
  }

  td,
  th {
    padding: get-spacing("200");
    border: get-border-width("DEFAULT") solid get-color("zinc", "400");
    text-align: start;
  }

  thead tr,
  tr:nth-child(even) {
    background-color: get-color("zinc", "300");

    @include dark-mode {
      background-color: get-color("zinc", "800");
    }
  }

  pre,
  code {
    font-family: get-font-family("monospace");
  }

  pre {
    overflow-y: auto;
    scrollbar-width: thin;

    &:has(code) {
      padding-inline: get-spacing("500");
      padding-block: get-spacing("400");
      border-radius: get-border-radius("lg");
    }
  }

  // :not(pre) > code {
  code:not(pre code) {
    padding-inline: get-spacing("100");
    padding-block: get-spacing("50");
    border-radius: get-border-radius("DEFAULT");
    background-color: get-color("neutral", "200");

    @include dark-mode {
      background-color: get-color("zinc", "800");
    }
  }
}
