@use "../abstracts" as *;

.s-prose {
  max-inline-size: get-width("prose");
  margin-inline: auto;
  padding-inline: get-spacing("400");

  & :where(h1, h2, h3, h4, h5, h6) {
    font-weight: bolder;
  }

  & > * + * {
    margin-block-start: get-spacing("200");
  }

  h1 {
    font-size: get-font-size("450");
    line-height: get-line-height("none");

    @include media-width-from("sm") {
      font-size: get-font-size("500");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("550");
    }
  }

  h2 {
    font-size: get-font-size("400");
    line-height: get-line-height("tight");

    @include media-width-from("sm") {
      font-size: get-font-size("450");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("500");
    }
  }

  h3 {
    font-size: get-font-size("350");
    line-height: get-line-height("snug");

    @include media-width-from("sm") {
      font-size: get-font-size("400");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("450");
    }
  }

  hr {
    margin: revert;
    border: revert;
  }

  * + li {
    margin-block-start: get-spacing("100");
  }

  ol,
  ul,
  dl,
  menu,
  dir {
    padding: revert;
  }

  li {
    list-style: revert;
  }

  input,
  select {
    @extend %c-input;
  }

  button {
    padding-inline: get-spacing("300");
    padding-block: get-spacing("150");
    border-radius: get-border-radius("lg");
    color: get-color("zinc", "950");
    background-color: get-color("yellow", "400");
    transition-property: transform, background-color, box-shadow;
    transition-duration: 0.3s;

    @include hover-focus {
      background-color: get-color("yellow", "700");
    }

    &:active {
      transform: translateY(3px);
    }

    &:not(:active) {
      box-shadow: 0 3px 0 0 get-color("yellow", "900");
    }

    &:disabled {
      background-color: get-color("gray", "500");
      pointer-events: none;
    }
  }

  // ===========================================================================
  // table

  table {
    inline-size: 100%;
    border-collapse: collapse;
  }

  caption {
    font-weight: bolder;
  }

  td,
  th {
    padding: get-spacing("200");
    border: get-border-width("DEFAULT") solid get-color("zinc", "400");
    text-align: start;
  }

  thead tr,
  tr:nth-child(even) {
    background-color: get-color("zinc", "300");

    @include dark-mode {
      background-color: get-color("zinc", "800");
    }
  }

  pre,
  code {
    font-family: get-font-family("monospace");
  }

  pre {
    overflow-y: auto;

    &:has(code) {
      padding-inline: get-spacing("500");
      padding-block: get-spacing("400");
      border-radius: get-border-radius("lg");
    }
  }

  // :not(pre) > code {
  code:not(pre code) {
    padding-inline: get-spacing("100");
    padding-block: get-spacing("50");
    border-radius: get-border-radius("DEFAULT");
  }
}
