extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = tasks.find(task => task.id === 08)

block content
  p!= currentTask.description
  hr
  h2 Рішення:
  script(src="./scripts/task_08.js")
