extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 42),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 42)

block content
  p!= currentTask.description
  hr
  h2 Рішення:
  script(src="./scripts/task_42.js")
