extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 04),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 04)


block content
  p= currentTask.description
  hr
  h2 Рішення:
  script(src="./scripts/task_04.js")
