extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentGroup = taskGroups.find((group) =>
      group.tasks.find((task) => task.id === 80),
    )
    const currentTask = currentGroup.tasks.find((task) => task.id === 80)

block content
  p!= currentTask.description
  .u-flex.u-gap-800
    img(src="./images/matrix_one.webp", alt="Матриця з чисел №1")
    img(src="./images/matrix_two.webp", alt="Матриця з чисел №2")
  hr
  h2 Рішення:
  style
    :scss
      .c-matrix {
        position: relative;
        display: inline-grid;
        gap: 0.25rem 0.75rem;
        padding-inline: 0.75rem;
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          border-inline: 0.125rem solid currentcolor;
          border-radius: 0.75rem;
        }
      }

  script(src="./scripts/task_80.js")
