extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 7)

block append scripts
  script(defer, src="./scripts/task_07.js")

block content
  p= currentTask.description
  hr
  h2 Рішення:
  form.js-form.u-flow-200.u-max-is-xs
    p
      label Дата початку
        input.js-date(
          type="datetime-local",
          required,
          value=new Date().toISOString().slice(0, 16)
        )
    p
      label Тривалість у хвилинах
        input.js-duration(type="number", required, min="0", value="30")
    p
      button Обчислити
    p
      output.js-output.u-font-bolder.u-text-400

  include:code(lang="javascript") ./scripts/task_07.js
