-
  const taskGroups = [
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Розробити калькулятор."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Зробити конвертер валют (курси валют – константи у скрипті)."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Користувач задає рік народження. Визначити кількість років користувача."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Наперед задано у скрипті масив зі списком бажань. Після завантаження сторінки випадковим чином вибираються 3 і відображаються у окремих div (їх треба створити і додати на сторінку)."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Відобразити таблицю 3 * 4 з випадковими числами (її треба динамічно створити і вставити на сторінку)."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Користувач задає кількість оцінок і натискає на кнопку «get table». В результаті формується таблиця з input, куди користувач вводить оцінки. Після цього натискає на кнопку “get sum” і знаходить середнє значення."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Подорож складається з 3 етапів. На кожному етапі користувач може вибрати один з видів транспорту (авто, автобус, літак - випадаючий список), харчування (сніданок, обід, вечеря – checkbox) та одного з 3-х гідів(використати  - radio buttons). Ціни визначте самі. Підрахувати загальну вартість."
        },
      ]
    },
  ]
