.receipt {
  padding-inline: 1rem;
  padding-block: 2rem;
  border-inline: 2px solid hsl(0deg 0% 60%);
  border-block: 2px dashed hsl(0deg 0% 60%);
  color: black;
  font-family: "Courier New", Courier, monospace;
  background-color: white;

  & > * + * {
    margin-block-start: 1rem;
    padding-block-start: 1rem;
    border-block-start: 1px solid hsl(0deg 0% 60%);
  }
}

.receipt._box {
  max-inline-size: 35ch;
}

/* --- */

.header-receipt {
}

.header-receipt__title {
  * + & {
    margin-block-start: 1rem;
  }
}

/* --- */

.code-receipt {
  display: flex;
  justify-content: center;
}

.code-receipt__picture {
  position: relative;
  inline-size: 10rem;
  aspect-ratio: 1;
}

.code-receipt__img {
  position: absolute;
  inset: 0;
  object-fit: contain;
  inline-size: 100%;
  block-size: 100%;
}
