.receipt {
  border-block: 2px dashed #999;
  border-inline: 2px solid #999;
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: white;
  color: black;
  font-family: "Courier New", Courier, monospace;

  & > * + * {
    border-block-start: 1px solid #999;
    padding-block-start: 1rem;
  }

  & > *:where(:not(:last-child)) {
    padding-block-end: 1rem;
  }
}

.receipt._box {
  max-inline-size: 35ch;
}

/* --- */

.header-receipt {
}

.header-receipt__title {
  * + & {
    margin-block-start: 1rem;
  }
}

/* --- */

.code-receipt {
  display: flex;
  justify-content: center;
}

.code-receipt__picture {
  inline-size: 10rem;
  aspect-ratio: 1;
  position: relative;
}

.code-receipt__img {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
