include ./_Header.pug
include ./_Search.pug
include ./_CardTask.pug
include ./_Pill.pug
include ./_Toggle.pug

mixin add-prefix(prefix, attributes)
  // Merge existing attributes with the modified ones
  - var mergedAttributes = Object.assign({}, attributes)

  // Modify href and src attributes if they exist
  if mergedAttributes.href
    - mergedAttributes.href = prefix + mergedAttributes.href
  if mergedAttributes.src
    - mergedAttributes.src = prefix + mergedAttributes.src

  // Output the element with the modified attributes
  block(mergedAttributes)
