-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Склад. База товарів, які зберігаються на складі: назва товару, одиниця виміру, кількість, фірма виробник (назва, реєстраційний номер). Організувати реєстрацію/відвантаження товарів, фільтрація за назвою товару, фільтрація за назвою фірми."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано два класи MultChecker (клас для перевірки таблиці множення - рандомно генеруються числа, які треба перемножати), AddChecker (клас для перевірки додавання - рандомно генеруються числа у заданому діапазоні, які треба додавати). Обидва класи надсилають результати тестування об'єкту класу History, який зберігає історію тестування у масиві у вигляді об'єктів."
        },
      ]
    },
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Створити клас, що дозволяє виконувати такі операції над масивами: знаходження кількості додатних, кількості від’ємних, кількість входжень деякого числа (статичні методи)."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Створити службове авто (водій, марка, номер). Створити клас таким чином, щоб можна було створити тільки один екземпляр цього класу."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Створити клас Нагадувач. Кожні вказані кількості секунд (використати setInterval) програма нагадує про якусь подію (це просто текст) і також виводиться порядковий номер скільки раз вже нагадування було. Зробити так, щоб не можна було зробити одночасно декілька об'єктів-нагадувачів. Методи зупинки таймера, метод зміни повідомлення без зупинки таймера."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Склад. База товарів, які зберігаються на складі: назва товару, одиниця виміру, кількість, фірма виробник (назва, реєстраційний номер). Організувати реєстрацію/відвантаження товарів, фільтрація за назвою товару, фільтрація за назвою фірми."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано два класи MultChecker (клас для перевірки таблиці множення - рандомно генеруються числа, які треба перемножати), AddChecker (клас для перевірки додавання - рандомно генеруються числа у заданому діапазоні, які треба додавати). Обидва класи надсилають результати тестування об'єкту класу History, який зберігає історію тестування у масиві у вигляді об'єктів."
        },
      ]
    },
  ]
