extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 2)


block content
  p= currentTask.description
  ol
    li загальний прибуток кожного магазину за тиждень;
    li загальний прибуток усіх магазинів по дням (загальний прибуток усіх магазинів за понеділок, за вівторок, і т.д.);
    li загальний прибуток за робочі дні;
    li загальний прибуток за вихідні дні;
    li максимальний прибуток за середу;
    li сформувати загальний список (одновимірний масив) зі значенням, які що більші за 200;
    li відсортувати кожен тиждень за зростанням;
    li відсортувати тижні (рядки) за спаданням максимального елементи у цьому тижні (рядку), тобто при порівнянні рядків потрібно порівнювати максимальні елементи у кожному з цих рядків;
    li упорядкувати тижні (рядки) за спаданням суми елементів у рядку (тобто при порівнянні двох рядків треба знайти суму кожного з рядків і порівнювати ці суми, на основі цих сум буде зрозуміло, який з елементів повинен іти раніше).
  hr
  h2 Рішення:
  script(src="./scripts/task_02.js")
