extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 9)

block append scripts
  script(defer, src="./scripts/task_09.js")

block content
  p Дано два списки прізвищ студентів, що відвідують гуртки з математики та історії.
  ul
    li Підрахувати скільки студентів з гуртка історії також відвідують гурток математики.
    li Також підрахувати скільки всього студентів відвідують хоча б один гурток.

  p #[b Додатково]: Дано третій список прізвищ студентів фізичного гуртка. Підрахувати:
  ul
    li Скільки студентів відвідують усі три гуртки
    li Скільки студентів відвідують історію та фізику, але не математику
    li Скільки студентів відвідують лише математику
    li Скільки студентів відвідують лише історію
    li Скільки студентів відвідують лише фізику
    li Скільки студентів відвідують лише один гурток
    li Визначити чи хтось зі студентів математики або історії відвідує історію або математику, відповідно.
  hr
  h2 Рішення:
  .js-app
  include:code(lang="javascript") ./scripts/task_09.js
