extends ../../layouts/_task-layout.pug

block frontmatter
  include ../_collection
  -
    const currentTask = taskGroups
      .flatMap((group) => group.tasks)
      .find((task) => task.id === 4)

append scripts
  script(defer src="./scripts/task_04.js")

block content
  p= currentTask.description
  hr
  h2 Рішення:
  .js-app
  include:code(lang="javascript") ./scripts/task_04.js
