-
  const taskGroups = [
    {
      title: "Усі завдання",
      tasks: [
        {
          title: 'Завдання №0',
          id: 0,
          href: 'task_00.html',
          description: "S1, S2, S3, S4",
        },
        {
          title: 'Завдання №1',
          id: 1,
          href: 'task_01.html',
          description: "Знайти суму, добуток та частку двох дійсних чисел. Результат вивести у формі таблиці",
        },
        {
          title: 'Завдання №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано рік народження (дата: 1 січня) та поточний рік. Знайти кількість років."
        },
        {
          title: 'Завдання №3',
          id: 3,
          href: 'task_03.html',
          description: "Дано вартість одиниці товару і кількість. Знайти загальну вартість та ПДВ (5% від загальної вартості)."
        },
        {
          title: 'Завдання №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано довжину у сантиметрах. Визначати скільки це метрів і кілометрів",
        },
        {
          title: 'Завдання №5',
          id: 5,
          href: 'task_05.html',
          description: "Дано кількість секунд, що пройшла від початку доби. Визначити скільки це годин і хвилин.",
        },
        {
          title: 'Завдання №6',
          id: 6,
          href: 'task_06.html',
          description: "З клавіатури вводяться вартість товару та кількість одиниць 3 товарів. Обчислити вартість кожного товару окремо та загальну вартість. Вивести чек (як у супермаркеті) використовуючи елементи розмітки.",
        },
        {
          title: 'Завдання №7',
          id: 7,
          href: 'task_07.html',
          description: "Знайти суму випадкового номера місяця (від 1 до 12) та випадкового номера дня (від 0 до 6).",
        },
      ]
    },
  ]
