-
  const taskGroups = [
    {
      title: "На перевірку",
      tasks: [
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Дано 5 випадковим чином згенерованих нумерованих списків з рандомними числами (кількість елементів у списку випадкова від 1 до 10, елементи випадкові – від 1 до 100). При натисненні на кнопку нумеровані списки з парною кількістю елементів зафарбувати у зелений колір, інші у червоний."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано 3 таблиці розмірності 3*3 з випадковими числами. Якщо відбувається клік на якійсь із клітинок, то до відповідної таблиці додається червона рамка (спробуйте додати можливість відображення кількості кліків біля назви таблиці з використанням відповідно доданого для цього атрибута)."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Відображаємо картки товарів, які користувач може вибирати. Вибраний товар має зелену рамку (при кліку робити toggle з класом вибраного елемента)."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Дано список спортсменів. Потрібно сформувати список тих, які будуть брати участь у змаганні. При цьому є два стовпці. В одному відображені всі спортсмени, в іншому – список тих, хто був вибраний. При натисканні на зелену стрілку спортсмен переміщається у список для змагань. При натисканні на червону стрілку спортсмен переміщається у загальний список."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Відобразити падаючий сніг. Сніжинка з’являється у верхній частині екрана (top =0) і з випадковою швидкістю рухається вниз (у setInterval викликати метод, у якому додавати крок до top). Як тільки сніжинка досягає нижньої частини екрана (top>maxTop) вона знову повинна з’явитись у верхній частині екрана (top=0)."
        },
      ]
    },
    {
      title: "Усі задачі",
      tasks: [
        {
          title: 'Задача №1',
          id: 1,
          href: 'task_01.html',
          description: "Дано 10 рядків тексту «Hello!» в окремих div. При кліку на якийсь із них усі наступні повинні бути зафарбовані у червоний колір."
        },
        {
          title: 'Задача №2',
          id: 2,
          href: 'task_02.html',
          description: "Дано 5 елементів input. При введенні значення у якийсь із них необхідно автоматично заповнювати інші (усі попередні у спадному порядку (кожен попередній має значення на 1 менше за наступний)), усі наступні на 1 більше (кожен наступне на 1 більше за попереднього)."
        },
        {
          title: 'Задача №3',
          id: 3,
          href: 'task_03.html',
          description: "Дано 5 випадковим чином згенерованих нумерованих списків з рандомними числами (кількість елементів у списку випадкова від 1 до 10, елементи випадкові – від 1 до 100). При натисненні на кнопку нумеровані списки з парною кількістю елементів зафарбувати у зелений колір, інші у червоний."
        },
        {
          title: 'Задача №4',
          id: 4,
          href: 'task_04.html',
          description: "Дано 3 таблиці розмірності 3*3 з випадковими числами. Якщо відбувається клік на якійсь із клітинок, то до відповідної таблиці додається червона рамка (спробуйте додати можливість відображення кількості кліків біля назви таблиці з використанням відповідно доданого для цього атрибута)."
        },
        {
          title: 'Задача №5',
          id: 5,
          href: 'task_05.html',
          description: "Відображаємо картки товарів, які користувач може вибирати. Вибраний товар має зелену рамку (при кліку робити toggle з класом вибраного елемента)."
        },
        {
          title: 'Задача №6',
          id: 6,
          href: 'task_06.html',
          description: "Дано список спортсменів. Потрібно сформувати список тих, які будуть брати участь у змаганні. При цьому є два стовпці. В одному відображені всі спортсмени, в іншому – список тих, хто був вибраний. При натисканні на зелену стрілку спортсмен переміщається у список для змагань. При натисканні на червону стрілку спортсмен переміщається у загальний список."
        },
        {
          title: 'Задача №7',
          id: 7,
          href: 'task_07.html',
          description: "Відобразити падаючий сніг. Сніжинка з’являється у верхній частині екрана (top =0) і з випадковою швидкістю рухається вниз (у setInterval викликати метод, у якому додавати крок до top). Як тільки сніжинка досягає нижньої частини екрана (top>maxTop) вона знову повинна з’явитись у верхній частині екрана (top=0)."
        },
      ]
    },
  ]
