-
  const lessons = [
    {
      href: 'lesson_02/',
      title: '2. Вступ до веб-програмування. Вступ до JS. Лінійні алгоритми',
      img: { src: 'homework_placeholder_01.webp', alt: '' },
      id: 2,
      datetime: new Date('2025-01-28'),
    },
    {
      href: 'lesson_03/',
      title: '3. Арифметичні і логічні вирази. Реалізація алгоритмів з розгалуженням',
      img: { src: 'homework_placeholder_02.webp', alt: '' },
      id: 3,
      datetime: new Date('2025-01-30'),
    },
    {
      href: 'lesson_05/',
      title: '5. Цикли',
      img: { src: 'homework_placeholder_03.webp', alt: '' },
      id: 5,
      datetime: new Date('2025-02-06'),
    },
    {
      href: 'lesson_06/',
      title: '6. Цикли – практика',
      img: { src: 'practice_placeholder.webp', alt: '' },
      id: 6,
      datetime: new Date('2025-02-08'),
    },
    {
      href: 'lesson_07/',
      title: '7. Функції',
      img: { src: 'homework_placeholder_01.webp', alt: '' },
      id: 7,
      datetime: new Date('2025-02-20'),
    },
    {
      href: 'lesson_08/',
      title: '8. Функції – практика. Масиви – вступ',
      img: { src: 'practice_placeholder.webp', alt: '' },
      id: 8,
      datetime: new Date('2025-02-24'),
    },
    {
      href: 'lesson_09/',
      title: '9. Масиви – продовження',
      img: { src: 'homework_placeholder_03.webp', alt: '' },
      id: 9,
      datetime: new Date('2025-02-27'),
    },
    {
      href: 'lesson_10/',
      title: '10. Методи масивів',
      img: { src: 'homework_placeholder_04.webp', alt: '' },
      id: 10,
      datetime: new Date('2025-03-03'),
    },
    {
      href: 'lesson_11/',
      title: '11. Багатовимірні масиви',
      img: { src: 'homework_placeholder_01.webp', alt: '' },
      id: 11,
      datetime: new Date('2025-03-10'),
    },
    {
      href: 'lesson_12/',
      title: '12. Алгоритми сортування масивів',
      img: { src: 'homework_placeholder_02.webp', alt: '' },
      id: 12,
      datetime: new Date('2025-03-13'),
    },
    {
      href: 'lesson_13/',
      title: '13. Рекурсія. Замикання',
      img: { src: 'homework_placeholder_03.webp', alt: '' },
      id: 13,
      datetime: new Date('2025-03-18'),
    },
    {
      href: 'lesson_14/',
      title: '14. Об\'єкти. Деструктуризація',
      img: { src: 'homework_14.webp', alt: '' },
      id: 14,
      datetime: new Date('2025-03-22'),
    },
    {
      href: 'lesson_15/',
      title: '15. Методи об\'єкта. Конструктори, класи. Прототипи',
      img: { src: 'homework_15.webp', alt: '' },
      id: 15,
      datetime: new Date('2025-03-29'),
    },
    {
      href: 'lesson_16/',
      title: '16. Інкапсуляція. Приватні поля',
      img: { src: 'homework_16.webp', alt: '' },
      id: 16,
      datetime: new Date('2025-04-02'),
    },
    {
      href: 'lesson_17/',
      title: '17. Статичні властивості та методи. Композиція, агрегація',
      img: { src: 'homework_17.webp', alt: '' },
      id: 17,
      datetime: new Date('2025-04-05'),
    },
    {
      href: 'lesson_18/',
      title: '18. Об\'єкт window. Події – вступ',
      img: { src: 'homework_18.webp', alt: '' },
      id: 18,
      datetime: new Date('2025-04-17'),
    },
    {
      href: 'lesson_19/',
      title: '19. Делегування подій. Користувацькі події',
      img: { src: 'homework_19.webp', alt: '' },
      id: 19,
      datetime: new Date('2025-04-22'),
    },
    {
      href: 'lesson_20/',
      title: '20. Події – практика',
      img: { src: 'practice_placeholder.webp', alt: '' },
      id: 20,
      datetime: new Date('2025-04-30'),
    },
    {
      href: 'lesson_21/',
      title: '21. Наслідування класу. Обробка помилок. Об\'єкт Date',
      img: { src: 'homework_21.webp', alt: '' },
      id: 21,
      datetime: new Date('2025-05-03'),
    },
    {
      href: 'lesson_23/',
      title: '23. Regexp. LocalStorage',
      img: { src: 'homework_23.webp', alt: '' },
      id: 23,
      datetime: new Date('2025-05-08'),
    },
    {
      href: 'lesson_24/',
      title: '24. Symbol. Map, Set. Ітератори. Генератори',
      img: { src: 'homework_24.webp', alt: '' },
      id: 24,
      datetime: new Date('2025-05-12'),
    },
  ]
