-
  const lessons = [
    {
      href: 'lesson_02/',
      title: 'ДЗ №2. Вступ до веб-програмування. Вступ до JS. Лінійні алгоритми',
      img: { src: 'homework-placeholder-01.webp', alt: '' },
      number: 2,
      datetime: new Date('2025-01-28'),
    },
    {
      href: 'lesson_03/',
      title: 'ДЗ №3. Арифметичні і логічні вирази. Реалізація алгоритмів з розгалуженням',
      img: { src: 'homework-placeholder-02.webp', alt: '' },
      number: 3,
      datetime: new Date('2025-01-30'),
    },
    {
      href: 'lesson_05/',
      title: 'ДЗ №5. Цикли',
      img: { src: 'homework-placeholder-03.webp', alt: '' },
      number: 5,
      datetime: new Date('2025-02-06'),
    },
    //- {
    //-   href: './lesson_07/',
    //-   title: 'Домашня робота №7',
    //-   img: { src: 'homework-placeholder-07.webp', alt: '' },
    //-   number: 6,
    //-   datetime: new Date('2025-01-30'),
    //- },
  ]
