-
  const lessons = [
    {
      href: 'lesson_02/',
      title: '2. Вступ до веб-програмування. Вступ до JS. Лінійні алгоритми',
      img: { src: 'homework-placeholder-01.webp', alt: '' },
      id: 2,
      datetime: new Date('2025-01-28'),
    },
    {
      href: 'lesson_03/',
      title: '3. Арифметичні і логічні вирази. Реалізація алгоритмів з розгалуженням',
      img: { src: 'homework-placeholder-02.webp', alt: '' },
      id: 3,
      datetime: new Date('2025-01-30'),
    },
    {
      href: 'lesson_05/',
      title: '5. Цикли',
      img: { src: 'homework-placeholder-03.webp', alt: '' },
      id: 5,
      datetime: new Date('2025-02-06'),
    },
    {
      href: 'lesson_06/',
      title: '6. Цикли – практика',
      img: { src: 'homework-placeholder-04.webp', alt: '' },
      id: 6,
      datetime: new Date('2025-02-08'),
    },
    {
      href: 'lesson_07/',
      title: '7. Функції',
      img: { src: 'homework-placeholder-01.webp', alt: '' },
      id: 7,
      datetime: new Date('2025-02-20'),
    },
    {
      href: 'lesson_08/',
      title: '8. Функції – практика. Масиви – вступ',
      img: { src: 'homework-placeholder-02.webp', alt: '' },
      id: 8,
      datetime: new Date('2025-02-24'),
    },
    {
      href: 'lesson_09/',
      title: '9. Масиви – продовження',
      img: { src: 'homework-placeholder-03.webp', alt: '' },
      id: 9,
      datetime: new Date('2025-02-27'),
    },
    {
      href: 'lesson_10/',
      title: '10. Методи масивів',
      img: { src: 'homework-placeholder-04.webp', alt: '' },
      id: 10,
      datetime: new Date('2025-03-03'),
    },
  ]
