-
  const lessons = [
    { href:"./lesson_02/", title: 'Домашня робота №2', tags: ['cool'], datetime: new Date("2025-01-28") },
    { href: "./lesson_03/", title: 'Домашня робота №3', tags: ['cute'], datetime: new Date("2025-01-30") },
  ]

doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Головна | JS 2025
  link(rel="icon", type="image/x-icon", href="./favicon.ico")
  link(rel="stylesheet", href="./styles/style.css")

body
  main
    .s-prose
      .l-container.u-text-center
        header
          h1 Домашні роботи з курсу по JavaScript 2025
          p Учень Борис
        ol.l-cards.u-mbs-400
          each lesson in lessons
            li.l-cards__item
              article.card
                header.card__header
                  .header-card
                    h2.header-card__title
                      a(href=lesson.href)= lesson.title
                    p.header-card__published Опубліковано
                      time(datetime=lesson.datetime)= lesson.datetime.toLocaleDateString("uk-UA", { year: "numeric", month: "long", day: "2-digit" })
