include /mixins/_index
include ../_collection

block frontmatter

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ currentLesson.title } | JS 2025
    link(rel="icon", type="image/x-icon", href="../favicon.ico")
    block styles
      link(rel="stylesheet", href="../styles/style.css")

    block scripts
  body
    .l-compose
      aside.l-compose__aside
        nav.c-sidebar.l-compose__sidebar
          ul.c-sidebar__list.u-flow-500
            li.c-sidebar__item
              a.c-pill(href="../index.html") До списку робіт
            li
              ol.u-flow-200
                each lesson in lessons.sort((a,b)=>b.id - a.id)
                  - const isCurrent = lesson.id === currentLesson.id;
                  li.c-sidebar__item
                    +Pill({ ...lesson, href: "../" + lesson.href }, isCurrent)

      main.l-compose__main.u-pb-800
        .l-container
          .u-flow-800
            h1.c-title.u-text-center #{ currentLesson.title }

            if tasks.some(task=>task.featured)
              .u-flow-300
                h2.c-subtitle Завдання на перевірку:
                ul.l-tasks
                  each task in tasks.filter(task=>task.featured)
                    li.l-tasks__item
                      +CardTask(task)

            .u-flow-300
              if tasks.some(task=>task.featured)
                h2.c-subtitle Усі завдання:
              ul.l-tasks
                each task in tasks
                  li.l-tasks__item
                    +CardTask(task)
