block frontmatter

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ title } | JS 2025
    link(rel="icon", type="image/x-icon", href="../favicon.ico")
    block styles
      link(rel="stylesheet", href="../styles/style.css")

    block scripts
  body
    main.u-pb-800
      .l-container
        .u-text-center.u-flow-600
          h1.c-title #{ title }
          ul.u-flow-200
            li
              a.c-pill(href="../") До списку робіт
            each task in tasks
              li
                a.c-pill(href=`./tasks/${task.href}`)= task.title
