include ../mixins/_index

block frontmatter

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ title } | JS 2025
    link(rel="icon", type="image/x-icon", href="../favicon.ico")
    block styles
      link(rel="stylesheet", href="../styles/style.css")

    block scripts
  body
    main.u-pb-800
      .l-container
        .u-flow-800
          h1.c-title.u-text-center #{ title }

          if tasks.some(task=>task.featured)
            .u-flow-300
              h2.c-subtitle Завдання на перевірку:
              ul.l-tasks
                each task in tasks.filter(task=>task.featured)
                  li.l-tasks__item
                    +CardTask(task)

          .u-flow-300
            if tasks.some(task=>task.featured)
              h2.c-subtitle Усі завдання:
            ul.l-tasks
              each task in tasks
                li.l-tasks__item
                  +CardTask(task)
