include /mixins/_index

block frontmatter

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ currentTask.title } | JS 2025
    link(rel="icon", type="image/x-icon", href="../../favicon.ico")
    block styles
      link(rel="stylesheet", href="../../styles/style.css")

    block scripts
      script
        include ../scripts/setTheme.js

      script(src="../../scripts/script.js", defer) 
  body
    .l-wrapper
      .l-wrapper__header
        +Header({search:false})

      .l-compose
        aside.l-compose__aside
          nav.c-sidebar.l-compose__sidebar.js-sidebar
            ul.c-sidebar__list.u-flow-250
              li.c-sidebar__item
                a.c-pill(href="../index.html") &#8592; До списку завдань

              each group in taskGroups
                li.u-flow-100
                  p!= group.title
                  ol.u-flow-50
                    each task in group.tasks
                      - const isCurrent = task.id === currentTask.id;
                      li.c-sidebar__item
                        +Pill(task, isCurrent)

        main.l-compose__main.u-pb-800
          .s-prose
            h1= currentTask.title
            block content

          block breakaway

    .c-overlay.js-overlay
