include ../mixins/_index

block frontmatter

doctype html
html(lang="uk")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{ currentTask.title } | JS 2025
    link(rel="icon", type="image/x-icon", href="../../favicon.ico")
    block styles
      link(rel="stylesheet", href="../../styles/style.css")

    block scripts
  body
    .l-compose
      aside.l-compose__aside
        nav.c-sidebar.l-compose__sidebar
          ul.c-sidebar__list.u-flow-500
            li.c-sidebar__item
              a.c-pill(href="../index.html") До списку завдань

            if tasks.some(task=>task.featured)
              li
                ul.u-flow-200
                  li.c-sidebar__item На перевірку:

                  each task in tasks.filter(task=>task.featured)
                    - const isCurrent = task.number === currentTask.number;
                    li.c-sidebar__item
                      +Pill(task, isCurrent)
            li
              ol.u-flow-200
                if tasks.some(task=>task.featured)
                  li.c-sidebar__item Усі завдання

                each task in tasks
                  - const isCurrent = task.number === currentTask.number;
                  li.c-sidebar__item
                    +Pill(task, isCurrent)

      main.l-compose__main.u-pb-800
        .s-prose
          h1= currentTask.title
          block content

        block breakaway
