@use "sass:map";
@use "../abstracts" as *;

:root {
  color-scheme: light dark;
}

body {
  font-size: get-font-size("300");
  font-family: map.get($font-family, "primary");
  line-height: 1.5;
  background-color: get-color("zinc", "100");

  @include dark-mode {
    background-color: get-color("zinc", "900");
  }

  @include media-width-from("sm") {
    font-size: get-font-size("350");
  }

  @include media-width-from("lg") {
    font-size: get-font-size("400");
  }
}

.l-container {
  max-inline-size: get-screen("lg");
  margin-inline: auto;
  padding-inline: 1rem;
}

.s-prose {
  max-inline-size: get-screen("md");
  margin-inline: auto;
  padding-inline: 1rem;

  & :where(h1, h2, h3, h4, h5, h6) {
    font-weight: bolder;
  }

  & > * + * {
    margin-block-start: map.get($spacing, "200");
  }

  h1 {
    font-size: get-font-size("450");
    line-height: get-line-height("none");

    @include media-width-from("sm") {
      font-size: get-font-size("500");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("550");
    }
  }

  h2 {
    font-size: get-font-size("400");
    line-height: get-line-height("thin");

    @include media-width-from("sm") {
      font-size: get-font-size("450");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("500");
    }
  }

  hr {
    margin: revert;
    border: revert;
  }

  * + li {
    margin-block-start: map.get($spacing, "100");
  }
}
