@use "../abstracts" as *;

body {
  font-size: get-font-size("300");
  font-family: get-font-family("primary");
  line-height: get-line-height("normal");
  background-color: get-color("neutral", "50");

  @include dark-mode {
    background-color: get-color("zinc", "900");
  }

  @include media-width-from("sm") {
    font-size: get-font-size("350");
  }
}

.l-container {
  max-inline-size: get-width("5xl");
  margin-inline: auto;
  padding-inline: get-spacing("400");

  &--prose {
    max-inline-size: get-width("prose");
  }
}

option {
  @include dark-mode {
    background-color: get-color("zinc", "900");
  }
}
