@use "sass:map";
@use "../abstracts" as *;

:root {
  color-scheme: light dark;
}

body {
  font-size: get-font-size("300");
  font-family: get-font-family("primary");
  line-height: 1.5;
  background-color: get-color("zinc", "100");

  @include dark-mode {
    background-color: get-color("zinc", "900");
  }

  @include media-width-from("sm") {
    font-size: get-font-size("350");
  }
}

.l-container {
  max-inline-size: get-screen("lg");
  margin-inline: auto;
  padding-inline: 1rem;
}

.s-prose {
  max-inline-size: get-screen("md");
  margin-inline: auto;
  padding-inline: 1rem;

  @media (prefers-color-scheme: dark) {
    thead tr,
    tr:nth-child(even) {
      background-color: hsl(0deg 0% 20%);
    }
  }

  & :where(h1, h2, h3, h4, h5, h6) {
    font-weight: bolder;
  }

  & > * + * {
    margin-block-start: get-spacing("200");
  }

  h1 {
    font-size: get-font-size("450");
    line-height: get-line-height("none");

    @include media-width-from("sm") {
      font-size: get-font-size("500");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("550");
    }
  }

  h2 {
    font-size: get-font-size("400");
    line-height: get-line-height("thin");

    @include media-width-from("sm") {
      font-size: get-font-size("450");
    }

    @include media-width-from("lg") {
      font-size: get-font-size("500");
    }
  }

  hr {
    margin: revert;
    border: revert;
  }

  * + li {
    margin-block-start: get-spacing("100");
  }

  ol,
  ul,
  dl,
  menu,
  dir {
    padding: revert;
  }

  li {
    list-style: revert;
  }

  input {
    padding-inline: get-spacing("150");
    padding-block: get-spacing("50");
    border: 1px solid get-color("yellow", "300");
    border-radius: get-border-radius("lg");
    background-color: get-color("zinc", "300");

    @include dark-mode {
      background-color: get-color("zinc", "800");
    }
  }

  label {
    cursor: pointer;
  }

  button {
    padding-inline: get-spacing("500");
    padding-block: get-spacing("250");
    border-radius: get-border-radius("lg");
    color: get-color("zinc", "950");
    background-color: get-color("yellow", "400");
    transition-property: transform, background-color, box-shadow;
    transition-duration: 0.3s;

    @include hover-focus {
      background-color: get-color("yellow", "700");
    }

    &:active {
      transform: translateY(3px);
    }

    &:not(:active) {
      box-shadow: 0 3px 0 0 get-color("yellow", "900");
    }
  }

  table {
    inline-size: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 8px;
    border: 1px solid get-color("zinc", "400");
    text-align: start;
  }

  thead tr,
  tr:nth-child(even) {
    background-color: get-color("zinc", "300");

    @include dark-mode {
      background-color: get-color("zinc", "800");
    }
  }
}
