/* { reset styles } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: unset;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  block-size: 100%;
}

a {
  color: unset;
  text-decoration: unset;

  &[href^="tel:"] {
    white-space: nowrap;
  }
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
address {
  font: unset;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto; // Ensure aspect ratio if width & height are set in the markup
}

img {
  font-style: italic; // Distinguish alt text
}

// Form

input,
button,
textarea,
select {
  color: unset;
  font: unset;
  background-color: unset;
}

button,
select,
option,
label {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: unset;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"] {
  inline-size: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

// Remove an X button from search input
input[type="search"] {
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    display: none;
  }
}

// Remove number arrows from number input
input[type="number"] {
  appearance: textfield; // Firefox

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

details summary {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/* { end of the reset styles } */
