-
  const taskGroups = [
    {
      title: "Regexp",
      tasks: [
        {
          title: 'Задачі №1-5',
          id: 3,
          href: 'task_03.html',
          description: "1. Дано масив рядків. Вивести ті, у яких є цифри (використати метод test та регулярні вирази).\n2. Дано масив рядків. Вивести ті, у яких немає цифр.\n3. Дано масив рядків. Вивести ті, у яких є голосні літери.\n4. Дано масив рядків. Вивести ті, у яких немає голосних літер.\n5. Дано масив рядків. Вивести ті, у яких є або цифра 1 або цифра 3."
        },
        {
          title: 'Задачі №6-17',
          id: 4,
          href: 'task_04.html',
          description: "6. Дано рядок тексту, вивести усі числа, які є у тексті.\n7. Дано рядок тексту. Знайти усі знаки пунктуації, які були використано.\n8. Дано рядок тексту. Вивести усі складові, які розділені розділовими знаками.\n9. Дано рядок тексту. Перевірити, чи містить він дату у форматі dd.mm.yyyy (dd- день, mm- місяць, yyyy- рік)."
        },
      ]
    },
    {
      title: "Local storage",
      tasks: [
        {
          title: 'Задача №18',
          id: 1,
          href: 'task_01.html',
          description: "Користувач може змінювати колір фону, що вибирає користувач з використанням <input type=\"color\">. Зберігати цей колір і відновлювати при наступному відкритті. Також зберігати і відображати кількість змін протягом одного сеансу."
        },
        {
          title: 'Задача №19',
          id: 2,
          href: 'task_02.html',
          description: "Зберігати у пам’яті список справ, які користувачу треба виконати (зберігати у localStorage). Періодично випадковим чином вибирати якусь з справ і виводити користувачу (з використанням confirm). Якщо користувач натискає на «Ок», то видаляти цю задачу."
        },
      ]
    },
  ]
